@import "compass/utilities/sprites";

$sprite-retire-na-loja-spacing: 10px;
$sprite-retire-na-loja-sprite-base-class: ".sprite-retire-na-loja";
$sprite-retire-na-loja-sprite-dimensions: true;
$sprite-retire-na-loja-layout: smart;

@import "../images/sprite-retire-na-loja/*.png";

@include all-sprite-retire-na-loja-sprites;

.sprite-retire-na-loja {
  display: inline-block;
}
