body.create-password,
body.reset-password {

  .create-password-form {
    max-width: 335px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .password-meter-list {
    @include resetList();
    margin-left: -7px;
  }

  .input-text {
    padding: 10px 15px;
    border: none;
    width: 100%;
    border: 1px solid $borderColor;
    &:hover {
      border: 1px solid #d4d7d9;
      box-shadow: 1px 1px 1px rgba(50,50,51,.2);
      @include transition(border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
    }

    &:focus {
      border-color: $lochmara;
    }    
  }

  .input-password {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
    position: relative;
    .input-password-icon {
      @include decathlonIcon('\E020', $checkboxBorderInactive, 34px);
      vertical-align: middle;
      font-weight: normal;
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      right: 5px;
      cursor: pointer;
      &.visible {
        color: $lochmara;
      }
    }
  }

  .password-meter {
    margin-top: 15px;
  }

  .password-meter-condition {
    height: 20px;
    line-height: 20px;
    color: $checkboxBorderInactive;
    i {
      @include decathlonIcon('\E026', $checkboxBorderInactive, 30px);
      vertical-align: middle;
      font-weight: 800;
    }
    &.valid {
      color: $mineShaft;
      i {
        &:before {
          color: #42A148;
        }
      }
    }

    @media (max-width: 342px) {
      font-size: 12px;
    }
  }


  .btn-send-wrapper {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 50px;
  }
  
}