.benefits-bar__wrapper {
  @include box-shadow(0px 0px 11px -3px rgba(57,57,57,0.5));

  background-color: $alabasterDarker;
  position: relative;

  @media (min-width: $screen-md-min) {
    @include box-shadow(none);
  }

  &--footer {
    @media (min-width: $screen-md-min) {
      border-bottom: 1px solid $alto;
    }
  }
}
  .benefits-bar {
    padding: 0 50px;

    .slick-arrow {
      border-color: $silver !important;
    }

    .slick-prev {
      left: 26px !important;
    }

    .slick-next {
      right: 11px !important;
    }
  }
    .benefits-bar__item {
      height: 55px;
      position: relative;

      &:after {
        @media (min-width: $screen-md-min) {
          @include skew(-10deg, -10deg);

          content: '';
          width: 1px;
          height: 40px;
          position: absolute;
          top: 8px;
          right: 0px;
          opacity: 1;
          background: $alto;
        }
      }

      &:last-child {
        &:after {
          @media (min-width: $screen-md-min) {
            display: none;
          }
        }
      }
    }
      .benefits-bar__link {
        @include translate(-50%, -50%);

        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        justify-content: center;
        align-items: center;
        display: flex;

        &:hover {
          text-decoration: none;
        }
      }
        .benefits__icon {
          margin-right: 8px;

          &--retire {
            @include decathlonIcon('\E013', $lochmara, 30px);
          }

          &--lojas {
            @include decathlonIcon('\E07A', $lochmara, 30px);
          }

          &--troca {
            @include decathlonIcon('\E050', $lochmara, 30px);
          }

          &--pagamento {
            @include decathlonIcon('\E02E', $lochmara, 30px);
          }
        }

        .benefits-bar__text {
          font-size: 14px;
          font-style: italic;
          font-weight: $primaryFontLight;
          color: $bodyColor;
          text-transform: uppercase;

          > br {
            display: none;

            @media (min-width: $screen-sm-min) {
              display: block;
            }
          }
        }
