body.forgot-password {
  .input-text {
    padding: 10px 15px;
    border: none;
    width: 100%;
    border: 1px solid $borderColor;
    &:hover {
      border: 1px solid #d4d7d9;
      box-shadow: 1px 1px 1px rgba(50,50,51,.2);
      @include transition(border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
    }

    &:focus {
      border-color: $lochmara;
    }    
  }

  .forgot-password-form {
    max-width: 335px;
    margin: 0 auto;
    margin-top: 40px;
  }  

  .input-email {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
    position: relative;
    .input-email-icon {
      @include decathlonIcon('\E026', $apple, 30px);
      vertical-align: middle;
      font-weight: normal;
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      right: 5px;
      cursor: pointer;
      &:before {
        display: none;
      }
      &.valid {
        &:before {
          display: block;
        }
      } 
    }
  }

  .btns-wrapper {
    display: block;
    width: 100%;
    margin-top: 50px;
  }

  .btn-back-wrapper {
    display: inline-block;
    width: 50%;
    text-align: left;    
    .back-button--link {
      color: $mineShaft;
    }
  }

  .btn-send-wrapper {
    display: inline-block;
    width: 50%;
    text-align: right;
  }

  .account-form-main-content {
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .forgot-content-hidden {
    position: absolute;
    right: -450px;
    top: 0;
    @include transition(right 300ms);
    &--visible {
      right: 0;
      @include transition(right 300ms);
    }
  }
}