.my-account {
  .my-account-page__content.password-container {
    position: relative;

    .password-meter {
      display: none;
    }

    .old-password-item,
    .new-password-item {
      max-width: 335px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 32px;
    }

    .old-password-item {
      label {
        @include opacity(0.5);
        color: #393939;
      }

      input {
        @include placeholder($lochmara);
      }
    }

    .edit {
      .old-password-item,
      .new-password-item {
        text-align: left;

        label {
          @include opacity(1);
          text-transform: uppercase;
          font-size: 13px;
        }
      }

      .input-password-icon {
        display: block;
      }

      span.error {
        background-color: #e60202;
        color: #fff;
        padding: 4px 7px;
        text-transform: initial;
        margin-top: 8px;
        position: relative;
        bottom: auto!important;
        font-size: 12px;
        line-height: 1.4!important;
        font-weight: 600;
        width: 100%;
        display: block;

        &:before {
          content: '';
          transform: translate(-50%,-50%) rotate(135deg);
          border-left: 6px solid #e60202;
          border-bottom: 6px solid #e60202;
          height: 10px;
          width: 10px;
          position: absolute;
          top: 1px;
          left: 18px;
        }
      }
    }

    .readonly {
      .input-password-icon {
        display: none;
      }

      span.error {
        display: none;
      }
    }

    .my-account-button-save {
      &:hover {
        &[disabled='disabled'] {
          cursor: not-allowed;
        }
      }
    }
  }

  .input-password-icon {
    @include decathlonIcon('\E020', $checkboxBorderInactive, 34px);
    vertical-align: middle;
    font-weight: normal;
    position: absolute;
    top: 42px;
    @include transform(translateY(-50%));
    right: 5px;
    cursor: pointer;

    &.visible {
      color: $lochmara;
    }
  }
}
