body.my-account {
  .address-list {
    .addresses--item {
      margin-bottom: 2rem;
      overflow: hidden;
      padding-bottom: 2rem;

      &:last-child {
        border-bottom: 0;
      }
    }

    .address-summary {
      color: $lochmara;
      text-align: right;

      label {
        color: $codGray;
        float: left;
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
        line-height: 25px;
        cursor: pointer;
        margin-bottom: 0;

        &:first-child {
          @include opacity(0.5);
        }
      }

      .address-text {
        font-size: 18px;
        width: 350px;
        float: right;
        font-weight: bold;
        margin: 0 0 0 auto;
      }

      .prefered-group {
        text-align: left;
        float: left;        
        margin-top: 1rem;

        @media (min-width: $screen-md-min) {
          width: 40%;
        }

        > label {
          opacity: 1;
        }

        .prefered {
          label {
            color: $lochmara !important;
          }
        }

        input[type="radio"] {
          @include input_radio(25, 25, $lochmara);
        }
      }
    }

    .address-actions {
      text-align: right;

      @media (max-width:$screen-sm-max) {
        float: right;
      }

      button {
        border: 0;
        background: none;

        &.remove-address {
          border-left: 1px solid $codGray;
        }
      }
    }
  }

  .address-container {
    position: relative;

    .my-account-button-edit {
      padding: .5rem;
      margin: 0 auto;
      display: block;
    }
  }

  .address--form {
    .bootstrap-select {
      button.dropdown-toggle {
        span.bs-caret {
          right: 20px;

          &:before {
            right: 5px;
            border-left: 1px solid #eee;
          }

          &:after {
            width: 8px;
            height: 8px;
            left: 7px;
          }
        }
      }
    }

    @media (min-width: $screen-md-max) {
      margin: 0 auto;
      max-width: 500px;
    }

    @media (min-width: $screen-md-min) {
      padding: 0 2rem;
    }

    .input-group-half-block {
      clear: both;
      text-align: left;
    }

    input[type="text"] {
      border: 1px solid #eee;
      padding: 8px;
      font-size: 18px;
      width: 100%;
      display: block;
      text-overflow: ellipsis;

      &:hover {
        border: 1px solid #d4d7d9;
        box-shadow: 1px 1px 1px rgba(50,50,51,.2);
        @include transition(border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
      }      
    }

    .my-account__buttons {
      .my-account-button-cancel,
      .my-account-button-save {
        width: 180px;
        display: inline-block;
        margin: 0 10px 20px 10px;
      }
    }
  }

  .input-text {
    &-small {
      width: 30%;
      float: left;
      padding-right: 20px;
      .error {
        bottom: -37px;
      }
      &.input-province {
        padding-right: 0;
        padding-left: 20px;
      }
    }
    &-half {
      width: 50%;
      float: left;
      margin-bottom: 30px;
      &:nth-child(2n) {
        padding-left: 20px;
      }    
    }
    &-medium {
      width: 70%;
      float: left;
      margin-bottom: 30px;
    }    
    &-large {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .bootstrap-select .btn {
    height: 40px;
    border: 1px solid #eee;

    &:hover {
      border: 1px solid #d4d7d9;
      box-shadow: 1px 1px 1px rgba(50,50,51,.2);
      @include transition(border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
    }
  }

  .bootstrap-select.open .dropdown-menu {
    height: 200px;
    overflow-y: auto;
  }
}