<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <vtex:metaTags />
  <meta name="controller" content="LpNabaiji" />

  <!-- START - Subtemplate Metatags -->
  <vtex:template id="0-dcs-web-metatags" />
  <!-- END - Subtemplate Metatags -->

  <!-- START - Style e Subtemplate Styles -->
  <vtex:template id="0-dcs-web-styles" />
  <!-- END - Subtemplate Styles -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <title>Nabaiji Tecnologia na Natação | Decathlon</title>
</head>


<body>
  <!-- START - Subtemplate Header -->
  <vtex:template id="0-dcs-web-header-desktop" />
  <!-- END - Subtemplate Header -->

  <!-- START - Miolo da página -->
  <main class="main" id="main">
    <section class="intro">
      <div class="intro__title">
        <img src="/arquivos/lp-natacao-diamante-main-banner.png" />
        <div class="intro__title-wrap">
          <h2>Natação</h2>
          <h3>Performance</h3>
        </div>
      </div>
      <p class="intro__description">A natação é um dos esportes mais completos e benéficos para corpo, mente e estilo de vida. Descubra mais sobre produtos da linha 900 Nabaiji que irá te ajudar a ter uma melhor performance na água.
      </p>
    </section>

    <section class="products">
      <div class="product__item" data-productid="3608">
        <div class="product__item-intro">
          <div class="product__item-image product__item-image--small">
            <img src="/arquivos/lp-natacao-diamante-oculos-900-bfast-banner.png" />
          </div>
          <div class="product__item-header">
            <h3 class="product__item-title">Óculos de natação 900 bfast</h3>
            <p class="product__item-subtitle">Desenvolvidos para treinos e competições, são perfeitamente adaptáveis ao seu rosto e totalmente estanques e aprovados pela FINA (Federação Internacional de Natação).</p>
          </div>

        </div>
        <div class="product__item-details">
          <div class="product__item-description">
            <ul>
              <li class="product__item-item">
                <i class="icon icon-adaptation"></i>
                <div>
                  <h2>AJUSTE</h2>
                  <p>Ponte nasal com regulagem micrométrica e elástico duplo com ajuste.</p>
                </div>
              </li>
              <li class="product__item-item">
                <i class="icon icon-noblurry"></i>
                <div>
                  <h2>ANTI-EMBAÇAMENTO</h2>
                  <p>Tratamento anti-embaçamento nas lentes.</p>
                </div>
              </li>
              <li class="product__item-item">
                <i class="icon icon-stability"></i>
                <div>
                  <h2>ESTABILIDADE</h2>
                  <p>Lentes com formato hidrodinâmico e design compacto para uma estabilidade perfeita.</p>
                </div>
              </li>
              <li class="product__item-item">
                <i class="icon icon-seal"></i>
                <div>
                  <h2>ESTANQUIDADE</h2>
                  <p>Vedantes extremamente flexíveis para obter uma perfeita adaptação ao rosto.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="product__item-actions">
            <div class="product__item_price">
              <div class="product__item_price-best"><span>R$ 99,99</span></div>
              <div class="product__item_price-installments"><small>Ou 2x de R$ 49,99</small></div>
            </div>
            <div class="product__item_sku-selection">
            </div>
            <div class="product__item_buy-button">
              <a href="" class="button button--large button--yellow">Adicionar ao carrinho</a>
            </div>
            <div class="product__item_link">
              <a href="/oculos-de-natacao-900-bfast/p?aSku=Cor:preto-vermelho" target="_blank">VER FICHA TÉCNICA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item" data-productid="14725">
        <div class="product__item-intro">
          <div class="product__item-image">
            <img src="/arquivos/lp-natacao-diamante-sunga-900-14725.png" />
          </div>
          <div class="product__item-header product__item-header product__item-header--over-image product__item-header--over-image--white">
            <h3 class="product__item-title">SUNGA DE NATAÇÃO 900 MASCULINA</h3>
            <p class="product__item-subtitle">Desenvolvido para o nadador experiente que procura performance, hidrodinamismo e suporte.</p>
          </div>
        </div>
        <div class="product__item-details">
          <div class="product__item-description">
            <ul>
              <li class="product__item-item">
                <i class="icon icon-adaptation"></i>
                <div>
                  <h2>LIBERDADE DE MOVIMENTOS</h2>
                  <p>Corte moderno que proporciona uma excelente liberdade de movimentos e altura lateral de 13,5cm.</p>
                </div>
              </li>
              <li class="product__item-item">
                <i class="icon icon-noblurry"></i>
                <div>
                  <h2>ESTABILIDADE</h2>
                  <p>A sunga oferece boa sustentação por conta do cordão interno para necessários ajustes.</p>
                </div>
              </li>
              <li class="product__item-item">
                <i class="icon icon-noblurry"></i>
                <div>
                  <h2>RESISTÊNCIA AO CLORO</h2>
                  <p>Graças à tecnologia AQUARESIST, é resistente ao cloro por mais de 200 horas de utilização.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="product__item-actions">
            <div class="product__item_price">
              <div class="product__item_price-best"><span>R$ 59,99</span></div>
            </div>
            <div class="product__item_sku-selection">

            </div>
            <div class="product__item_buy-button">
              <a href="" class="button button--large button--yellow">Adicionar ao carrinho</a>
            </div>
            <div class="product__item_link">
              <a href="/sunga-de-natacao-900-masculina-14725/p"  target="_blank">VER FICHA TÉCNICA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item" data-productid="14688">
        <div class="product__item-intro">
          <div class="product__item-image">
            <img src="/arquivos/lp-natacao-diamante-nadadeira-topfin.png" />
          </div>
          <div class="product__item-header product__item-header--over-image product__item-header--over-image--black">
            <h3 class="product__item-title">NADADEIRA PARA NATAÇÃO TOPFIN</h3>
            <p class="product__item-subtitle">Nade mais rápido e por mais tempo. Compridas e rígidas, as nadadeiras aliam perfeitamente velocidade e trabalho muscular e cardíaco, o que permite reforçar os músculos e melhorar a resistência dos nadadores experientes.</p>
          </div>
        </div>

        <div class="product__item-details">
          <div class="product__item-description">
            <ul>
              <li class="product__item-item">
                <i class="icon icon-stability2"></i>
                <div>
                  <h2>ESTABILIDADE</h2>
                  <p>Sua bolsa aberta na parte de trás garante a fixação do pé durante o batimento (importante para um batimento eficaz) e grande liberdade de movimentos.</p>
                </div>
              </li>
              <li class="product__item-item">
                <i class="icon icon-muscular-effort"></i>
                <div>
                  <h2>NADADEIRA PALA LONGA</h2>
                  <p>A pala longa permite um maior esforço muscular do que a nadadeira curta e garante um movimento mais amplo.</p>
                </div>
              </li>
              <li class="product__item-item">
                <i class="icon icon-cardio"></i>
                <div>
                  <h2>INTENSIDADE E ESFORÇO MUSCULAR</h2>
                  <p>A alta rigidez das nadadeiras é garantida por aplicações em plástico na cor laranja. Quanto mais rígida a pala, maior a intensidade e o esforço muscular.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="product__item-actions">
            <div class="product__item_price">
              <div class="product__item_price-best"><span>R$ 179,99</span></div>
              <div class="product__item_price-installments"><small>Ou 3x de R$ 59,99</small></div>
            </div>
            <div class="product__item_sku-selection">

            </div>
            <div class="product__item_buy-button">
              <a href="" class="button button--large button--yellow">Adicionar ao carrinho</a>
            </div>
            <div class="product__item_link">
              <a href="/nadadeira-de-natacao-topfin-comprida/p" target="_blank">VER FICHA TÉCNICA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="product__item" data-productid="2431">
        <div class="product__item-intro">
          <div class="product__item-image">
            <img src="/arquivos/lp-natacao-diamante-palmar-quickin-nabaji.png" />
          </div>
          <div class="product__item-header">
            <h3 class="product__item-title">PALMAR DE NATAÇÃO PRO QUICK´IN NABAIJI</h3>
            <p class="product__item-subtitle">Trabalhe intensamente os membros superiores do corpo e aumente a sua velocidade.</p>
          </div>
        </div>
        <div class="product__item-details">
          <div class="product__item-description">
            <ul>
              <li class="product__item-item">
                <i class="icon icon-security"></i>
                <div>
                  <h2>FÁCIL DE COLOCAR E RETIRAR</h2>
                  <p>O sistema patenteado e exclusivo QUICK’IN foi pensado e desenvolvido para facilitar a utilização do palmar de natação.</p>
                </div>
              </li>
              <li class="product__item-item">
                <i class="icon icon-comfort"></i>
                <div>
                  <h2>CONFORTO DE UTILIZAÇÃO</h2>
                  <p>Você pode ajustá-lo de 2 formas: com as fitas ao redor do punho, ou com o sistema QUICK’IN, que promove um ajuste preciso com uma regulagem suave.</p>
                </div>
              </li>
              <li class="product__item-item">
                <i class="icon icon-security"></i>
                <div>
                  <h2>SEGURANÇA</h2>
                  <p>O palmar está equipado com um contorno em SEBS para evitar qualquer lesão ao praticar o movimento.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="product__item-actions">
            <div class="product__item_price">
              <div class="product__item_price-best"><span>R$ 79,99</span></div>
            </div>
            <div class="product__item_sku-selection">
            </div>
            <div class="product__item_buy-button">
              <a href="" class="button button--large button--yellow">Adicionar ao carrinho</a>
            </div>
            <div class="product__item_link">
              <a href="/palmar-de-natacao-pro-quickin-nabaiji/p" target="_blank">VER FICHA TÉCNICA</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <div class="callout-category">
      <div class="callout-category__image">
        <img src="/arquivos/lp-natacao-diamante-secondary-banner.png" alt="Natação"/>
      </div>
      <div class="callout-category__description">
        <h3 class="callout-category__description-title">COLEÇÃO PERFORMANCE COMPLETA</h3>
        <!-- <p class="callout-category__description-subtitle">Mochilas desenvolvidas para o nadador de nível experiente que deseja transportar o seu material de treino ou em competição.</p> -->
        <div class="callout-category__description-link">
          <a href="/colecao-nabaiji-tecnologia-na-natacao" class="button button--large button--blue">Ver tudo</a>
        </div>
      </div>
    </div>

    <!--section class="text-seo">
      <h2>Desafie o frio, pratique esporte!</h2>
      <p>O Outono já começou e é normal aqueles dias de temperaturas mais amenas. E se as temperaturas já começaram a baixar agora, imagine só como pode ser no Inverno?!</p>
      <p>Se você já é um apaixonado por esporte ou começou a praticar recentemente, deve saber que manter a frequência de treinos, independente da estação do ano, é fundamental para atingir seus objetivos, certo?</p>
      <p>Quando falamos de esporte no frio sempre vem na cabeça os esportes de neve ou os esportes de montanha, mas não podemos esquecer de todos os outros esportistas praticam corrida, ciclismo, esportes coletivos (futebol, vôlei, basquete, handebol), surf, esportes náuticos, ginástica, Pilates, esportes de raquetes (tênis, badminton, squash, padel), hipismo, entre tantos outros.</p>
      <h3>A Decathlon tem os produtos ideais para você praticar esporte no frio</h3>
      <p>Pensando nisso, organizamos nessa página os produtos mais indicados para você se manter quente e praticar esporte no frio: fleece, segunda pele, calças (calça feminina e calça masculina), bota (bota feminina e bota masculina), jaqueta (jaqueta impermeável, jaqueta 3 em 1, corta vento), camisa térmica, bermuda térmica, calça térmica, legging, camiseta manga longa, blusa de moletom, calça de moletom, tênis de corrida, meias, luvas e muito mais!</p>
      <p>E aí, partiu praticar esporte no frio?</p>
      <h4><strong>Confira as nossas dicas esportivas:</strong></h4>
      <p>
        <a href="https://souesportista.decathlon.com.br/5-dicas-para-nao-sentir-frio-em-seu-saco-de-dormir/">Camping: 5 dicas para não sentir frio em seu saco de dormir</a><br />
        <a href="https://souesportista.decathlon.com.br/ciclismo-urbano-no-inverno-22-dicas-para-pedalar-com-seguranca/">Ciclismo Urbano: Dicas para pedalar com segurança no inverno</a><br />
        <a href="https://souesportista.decathlon.com.br/10-dicas-para-praticar-corrida-no-frio/">Corrida: 10 dicas para correr no frio</a><br />
        <a href="https://souesportista.decathlon.com.br/dicas-para-escalar-no-inverno/">Escalada: Dicas para escalar no inverno com segurança</a><br />
        <a href="https://souesportista.decathlon.com.br/como-escolher-seu-equipamento-de-surfe-para-o-inverno/">Surf e Bodyboard: como escolher seu equipamento de surf para o inverno</a><br />
        <a href="https://souesportista.decathlon.com.br/como-manter-a-forma-durante-o-inverno/">Treino Cardio: Como manter a forma durante o inverno</a><br />
        <a href="https://souesportista.decathlon.com.br/como-se-aquecer-no-inverno/">Trilha e trekking: Como se aquecer no inverno</a>
      </p>
      <p>Essas e muitas outras dicas no nosso portal <strong><a href="https://souesportista.decathlon.com.br/dicas/">SouEsportista.com.br</a></strong></p>
    </section-->
  </main>
  <!-- END - Miolo da página -->

  <!-- START - Subtemplate Generico -->
  <vtex:template id="0-dcs-web-generico" />
  <!-- END - Subtemplate Generico -->

  <!-- START - Subtemplate Footer -->
  <vtex:template id="0-dcs-web-footer" />
  <!-- END - Subtemplate Footer -->
    
  <!-- START - Scripts e Subtemplate Scripts -->
  <vtex:template id="0-dcs-web-scripts" />
  <!-- END - Subtemplate Scripts -->
  
</body>

</html>