<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br">

<head>
  <meta name="controller" content="Services" />

  <!-- START - Subtemplate Metatags -->
  <vtex:template id="0-dcs-web-metatags" />
  <!-- END - Subtemplate Metatags -->
  
  <vtex:metaTags/>
  <vtex:contentPlaceHolder id="title" />

  <!-- START - Style e Subtemplate Styles -->
  <!-- <vtex:template id="0-dcs-web-styles" /> -->
  <link rel="stylesheet" type="text/css" href="/arquivos/0-dcs-web-services-style.css" />
  <!-- END - Subtemplate Styles -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <!-- START - Subtemplate Header -->
  <vtex:template id="0-dcs-web-header-desktop" />
  <!-- END - Subtemplate Header -->

  <!-- START - Miolo da página -->
  <main class="main" id="main">

    <section class="section-services">
      <div class="av-container">
        <div class="av-row">
          <div class="av-col-xs-24 av-col-md-7">
            <div class="services-sidebar">
              <div class="services-sidebar__header">
                <h2 class="sidebar-header__title">Serviços</h2>
              </div>

              <div class="services-sidebar__list">
                <a class="services-sidebar__list-item" href="/servicos/formas-de-pagamento" title="Formas de pagamento">Formas de pagamento</a>
                <!--a class="services-sidebar__list-item" href="/servicos/regras-de-frete-gratis" title="Regras de frete grátis">Regras de frete grátis</a-->
                <a class="services-sidebar__list-item" href="/servicos/politica-de-entrega" title="Política de Entrega">Política de Entrega</a>
                <a class="services-sidebar__list-item" href="/servicos/politica-de-privacidade" title="Política de Privacidade">Política de Privacidade</a>
                <a class="services-sidebar__list-item" href="/servicos/trocas-e-devolucoes" title="Trocas e devoluções">Trocas e devoluções</a>
                <a class="services-sidebar__list-item" href="/servicos/garantia-vitalicia" title="Garantia Vitalícia">Garantia Vitalícia</a>
                <a class="services-sidebar__list-item" href="http://decathlonpro.com.br" title="Atendimento Corporativo" target="_blank">Atendimento Corporativo</a>
              </div>

              <div class="services-sidebar__footer">
                <div class="sidebar-footer__text">Esportista satisfeito é a nossa missão!</div>
              </div>
            </div>
          </div>

          <div class="av-col-xs-24 av-col-md-17">
            <div class="services-content">
              <vtex:contentPlaceHolder id="Servicos - Conteudo" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- END - Miolo da página -->

  <!-- START - Subtemplate Footer -->
  <vtex:template id="0-dcs-web-footer" />
  <!-- END - Subtemplate Footer -->

  <!-- START - Scripts e Subtemplate Scripts -->
  <!-- <vtex:template id="0-dcs-web-scripts" /> -->
  <script type="text/javascript" src="/arquivos/0-dcs-web-services-script.js"></script>
  <!-- END - Subtemplate Scripts -->
</body>

</html>