<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <vtex:metaTags />
  <meta name="controller" content="ListEmptyV2" />

  <!-- INICIO - Subtemplate Metatags -->
  <vtex:template id="0-dcs-web-metatags" />
  <!-- FIM - Subtemplate Metatags -->

  <!-- INICIO - Style e Subtemplate Styles -->
  <!-- <vtex:template id="0-dcs-web-styles" /> -->
  <link rel="stylesheet" type="text/css" href="/arquivos/0-dcs-web-list-empty-v2-style.css" />
  <!-- Style client -->
  <!-- FIM - Subtemplate Styles -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <!-- INICIO - Subtemplate Header -->
  <vtex:template id="0-dcs-web-header-mobile" />
  <!-- FIM - Subtemplate Header -->

  <!-- INICIO - Miolo da página -->
  <main class="main" id="main">

    <div class="empty-search__header">
      <div class="av-container">
        <div class="av-row">
          <div class="av-col-xs-24 empty-search__top-container">
            <div class="empty-search__text">Não encontramos resultados para: <span class="empty-search__terms"></span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="empty-search__content">
      <div class="av-container">
        <div class="av-row">
          <div class="av-col-xs-24">
            <div class="empty-search__populars" style="display: none;">
              <div class="empty-search__populars-title"> Nossas buscas <span> mais populares</span> </div>
              <div class="empty-search__populars-list">
                <vtex:contentPlaceHolder id="Buscas Populares 1" />
                <vtex:contentPlaceHolder id="Buscas Populares 2" />
                <vtex:contentPlaceHolder id="Buscas Populares 3" />
                <vtex:contentPlaceHolder id="Buscas Populares 4" />
                <vtex:contentPlaceHolder id="Buscas Populares 5" />
                <vtex:contentPlaceHolder id="Buscas Populares 6" />
              </div>
            </div>
          </div>
        </div><!-- .av-row -->

        <!--shelf-carousel-->
        <div class="list-empty-shelf" id="container-shelf-list-empty"></div>
      </div>
    </div>
  </main>
  <!-- FIM - Miolo da página -->

  <!-- INICIO - Subtemplate Footer -->
  <vtex:template id="0-dcs-web-footer" />
  <!-- FIM - Subtemplate Footer -->

  <!-- INICIO - Scripts e Subtemplate Scripts -->
  <!-- <vtex:template id="0-dcs-web-scripts" /> -->
  <script type="text/javascript" src="/arquivos/0-dcs-web-list_empty_v2-script.js"></script>
  <!-- FIM - Subtemplate Scripts -->
</body>

</html>