<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br">

<head>
  <vtex:metaTags />
  <!-- <meta name="controller-dct" content="VitalSport" /> -->

  <!-- START - Subtemplate Metatags -->
  <vtex:template id="0-dcs-web-metatags" />
  <!-- END - Subtemplate Metatags -->

  <vtex:metaTags />
  <vtex:contentPlaceHolder id="title" />

  <!-- START - Style e Subtemplate Styles -->
  <vtex:template id="0-dcs-web-styles" />
  <!-- END - Subtemplate Styles -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <!-- START - Subtemplate Header -->
  <vtex:template id="0-dcs-web-header-desktop" />
  <!-- END - Subtemplate Header -->

  <!-- START - Main -->
  <main class="main" id="main">
    <section class="content-center">
        <div class="av-col-xs-24">
          <div class="logo-dkplay">
            <img src="/arquivos/dkplay-logo.png" alt="App Decathlon Play" />
          </div>
        </div>

        <div class="av-col-xs-24 av-col-md-12 col--image">
          <img src="/arquivos/dkplay-appcel.png" alt="App Decathlon Play" />
        </div>

        <div class="av-col-xs-24 av-col-md-12 col--text">
          <div class="content-infos">
            <h2 class="content-infos--title">Encontre mais esportistas <br />com o Decathlon Play</h2>
            <h3 class="content-infos--subtitle">Encontre pessoas que assim como você, <br />são apaixonadas por esporte, crie
              eventos e pratiquem
              juntos.</h3>

            <ul class="content-infos--list">
              <li>1. Baixe o APP</li>
              <li>2. Cadastre-se</li>
              <li>3 .Crie e participe de eventos esportivos</li>
            </ul>

            <div class="content-infos--buttons">
              <a href="https://itunes.apple.com/br/app/decathlon-play/id1302825508" target="_blank" title="Decathlon Play na App Store" class="btn-image gaClick" data-event-category="DkPlay" data-event-action="Click" data-event-label="Botão Apple Store">
                <img src="/arquivos/icon-appstore.png" alt="Decathlon Play na Apple Store" />
              </a>
              <a href="https://play.google.com/store/apps/details?id=br.com.devmaker.decathlonconnect" target="_blank" title="Decathlon Play na Google Play" class="btn-image gaClick" data-event-category="DkPlay" data-event-action="Click" data-event-label="Botão Google Play">
                <img src="/arquivos/icon-googleplay.png" alt="Decathlon Play na Google Play" />
              </a>
            </div>
          </div>
        </div>
    </section>
  </main>
  <!-- END - Main -->


  <!-- START - Subtemplate Generico -->
  <vtex:template id="0-dcs-web-generico" />
  <!-- END - Subtemplate Generico -->

  <!-- START - Subtemplate Footer -->
  <vtex:template id="0-dcs-web-footer" />
  <!-- END - Subtemplate Footer -->

  <!-- START - Scripts e Subtemplate Scripts -->
  <vtex:template id="0-dcs-web-scripts" />
  <!-- END - Subtemplate Scripts -->
</body>

</html>