<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <vtex:metaTags />
  <meta name="controller" content="AboutUs" />

  <!-- START OPEN GRAPH -->
  <meta property="og:title" content="Quem Somos - Decathlon" />
  <meta property="og:type" content="website" />
  <meta property="og:description"
    content="A maior loja de artigos esportivos. Produtos de fitness, musculação, ciclismo, futebol, corrida, camping, trilha, natação, surf, tênis, pesca e muito mais" />
  <meta property="og:image" content="https://www.decathlon.com.br/arquivos/quem-somos-decathlon-marca.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1366" />
  <meta property="og:image:height" content="647" />
  <meta property="og:url" content="https://www.decathlon.com.br/institucional/quem-somos" />
  <link rel="canonical" href="https://www.decathlon.com.br/institucional/quem-somos/" />
  <!-- END OPEN GRAPH -->

  <!-- START - Subtemplate Metatags -->
  <vtex:template id="0-dcs-web-metatags" />
  <!-- END - Subtemplate Metatags -->

  <!-- START - Style e Subtemplate Styles -->
  <!-- <vtex:template id="0-dcs-web-styles" /> -->
  <!-- END - Subtemplate Styles -->

  <link rel="stylesheet" href="/arquivos/0-dcs-web-about-us-style.css" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <vtex:contentPlaceHolder id="Title" />
</head>

<body>
  <!-- START - Subtemplate Header -->
  <vtex:template id="0-dcs-web-header-mobile" />


  <!-- START - Miolo da página -->
  <main class="main" id="main">
    <div class="av-container">
      <div class="av-row">

        <!-- START - Institutional -->
        <section class="institutional">
          <div class="av-container">
            <div class="av-row">
              <div class="av-col-xs-24">
                <h1 class="institutional-title">Saiba mais sobre a Decathlon</h1>
              </div>
            </div>
          </div>
        </section>
        <!-- END - Institutional -->


        <!-- START - Banners -->
        <section class="section-banners">
          <!-- primeiro box -->
          <div class="first-box">
            <div class="av-container first-container">

              <div class="wrap-images av-col-xs-12 av-col-sm-6">
                <a class="banner-links gaClick" href="#quem-somos" data-event-category="Quem Somos"
                  data-event-action="link ancora" data-event-label="Quem Somos">
                  <p>Quem Somos</p>
                  <img src="/arquivos/about-us-banner-1-mob.png" alt="Quem Somos" />
                </a>
              </div>

              <div class="wrap-images two-wrap  av-col-xs-12 av-col-sm-6">
                <div class="wrap-images-item">
                  <a class="banner-links unlike gaClick" href="#nossos-valores" data-event-category="Quem Somos"
                    data-event-action="link ancora" data-event-label="Nossos Valores">
                    <p>Nossos Valores</p>
                    <img src="/arquivos/about-us-banner-2-mob.png" alt="Nossos Valores" />
                  </a>
                </div>

                <div class="wrap-images-item">
                  <a class="banner-links unlike gaClick" href="#o-que-fazemos" data-event-category="Quem Somos"
                    data-event-action="link ancora" data-event-label="O que fazemos">
                    <p>O que Fazemos</p>
                    <img src="/arquivos/about-us-banner-3-mob.png" alt="O que Fazemos" />
                  </a>
                </div>
              </div>

            </div>
          </div>

          <!-- segundo-box -->
          <div class="second-box">
            <div class="av-container second-container">

              <div class="wrap-images one-wrap av-col-xs-24 av-col-sm-12">
                <a class="banner-links gaClick" href="#trabalhar-na-decathlon" data-event-category="Quem Somos"
                  data-event-action="link ancora" data-event-label="Trabalhe Conosco">
                  <p>Trabalhe Conosco</p>
                  <img src="/arquivos/about-us-banner-4-mob.png" alt="Trabalhe Conosco" />
                </a>
              </div>

              <div class="wrap-images av-col-xs-24 av-col-sm-12">
                <a class="banner-links gaClick" href="#nossa-historia" data-event-category="Quem Somos"
                  data-event-action="link ancora" data-event-label="Nossa História">
                  <p>História</p>
                  <img src="/arquivos/about-us-banner-5-mob.png" alt="Nossa História" />
                </a>
              </div>

            </div>
          </div>

        </section>
        <!-- END - Banner -->

        <!-- START - About Us -->
        <section class="about-us">
          <div class="av-container">

            <!-- about us -->
            <article id="quem-somos" class="about-us__initial av-row align-center">
              <div class="av-row">
                <div class="av-col-xs-24">
                  <div class="about-us__initial-title">
                    <h2>Quem Somos</h2>
                    <p>Esportistas apaixonados <br /><br /></p>
                  </div>
                </div>
              </div>
              <div>
                <div class="av-col-xs-24 av-col-sm-14">
                  <h3>O que queremos?</h3>
                  <p>Compartilhar nossa paixão com o máximo de pessoas possível, ajudando a tornar o
                    prazer e os
                    benefícios do
                    esporte acessíveis a todos de maneira sustentável.</p>
                  <h3>O que fazemos</h3>
                  <p>Inovamos no esenvolvimento de produtos técnicos que acompanham a evolução de
                    apaixonados pela
                    prática
                    esportiva como nós.
                    <br />
                    <br />
                  </p>
                </div>

                <div class="av-col-xs-24 av-col-sm-10">
                  <!--  VIDEO  -->
                  <iframe width="100%" height="250"
                    src="https://www.youtube.com/embed/8YTBPwkFpxI?rel=0&amp;modestbranding=1&amp;controls=0&amp;showinfo=0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen="true"></iframe>
                </div>
              </div>
            </article>

            <!-- our-values -->
            <article id="nossos-valores" class="about-us__our-values align-center">
              <div class="av-col-xs-24">
                <h2>Nossos Valores</h2>

                <div class="about-us__our-values-item av-col-xs-24 av-col-sm-12">
                  <div class="about-us--box-image">
                    <img src="/arquivos/about-us-first-value.png" alt="Nossos Valores - Respeito" />
                  </div>
                  <div class="about-us--box-content">
                    <h3>Respeito</h3>
                    <p>Independentemente de gênero, idade, nível atlético e cultura.</p>
                  </div>
                </div>

                <div class="about-us__our-values-item av-col-xs-24 av-col-sm-12">
                  <div class="about-us--box-image">
                    <img src="/arquivos/about-us-second-value.png" alt="Nossos Valores - Vitalidade" />
                  </div>
                  <div class="about-us--box-content">
                    <h3>Vitalidade</h3>
                    <p>Levamos a energia do esporte para nossas lojas, nosso armazém e até ao escritório.</p>
                  </div>
                </div>

                <div class="about-us__our-values-item av-col-xs-24 av-col-sm-12">
                  <div class="about-us--box-image">
                    <img src="/arquivos/about-us-third-value.png" alt="Nossos Valores - Responsabilidade" />
                  </div>
                  <div class="about-us--box-content">
                    <h3>Responsabilidade</h3>
                    <p>"Eu digo, eu faço" isso define o nosso conceito de autonomia.</p>
                  </div>
                </div>

                <div class="about-us__our-values-item av-col-xs-24 av-col-sm-12">
                  <div class="about-us--box-image">
                    <img src="/arquivos/about-us-fourth-value.png" alt="Nossos Valores - Espírito de Equipe" />
                  </div>
                  <div class="about-us--box-content">
                    <h3>Espírito de Equipe</h3>
                    <p>Confiamos uns nos outros, somos conectados por esforço, determinação e superação. Celebramos as
                      nossas vitórias nessa mesma vibração</p>
                  </div>
                </div>

              </div>
            </article>

            <!-- our culture -->
            <article class="about-us__our-culture">
              <div class="av-container">

                <div class="about-us__our-culture-title av-col-xs-24">
                  <h2>De Esportista para Esportista</h2>
                </div>

                <div class="about-us__our-culture-text av-col-xs-24 av-col-lg-14">
                  <p>Inspirados pela cultura e pelos valores do esporte, nosso dia a dia é formado por:
                  </p>

                  <p>- <b>Paixão</b> por estarmos sempre ativos;</p>

                  <p>- <b>Energia</b> para compartilhar juntos todos os dias a experiência lúdica do esporte ;</p>

                  <p>- <b>Inspiração</b> em um modelo de gestão moderno que nos ajuda a superar desafios e a tomar
                    iniciativas;</p>

                  <p>- <b>Inovação</b> no desenvolvimento dos nossos produtos esportivos;</p>

                  <p>É isso que nos torna especialistas em <a href="https://www.decathlon.com.br/"
                      class="about-us-links gaClick" data-event-category="Quem_Somos" data-event-action="Link"
                      data-event-label="7 mil produtos" target="_self">+7 mil produtos
                      exclusivos</a>, desenvolvido para
                    +65 tipos de modalidades esportivas. Nosso processo de produção envolve uma cadeia completa, que
                    começa na pesquisa, passa pela concepção, design e se estende à logística.</p>

                  <p>Assim, garantimos que nossos produtos tenham o melhor custo-benefício do mercado: qualidade técnica
                    e preço baixo durante o ano todo para todos os praticantes, do iniciante ao performance.</p>

                </div>

                <div class="about-us__our-culture-image av-col-xs-24 av-col-lg-10">
                  <!--  VIDEO  -->
                  <iframe width="100%" height="315"
                    src="https://www.youtube.com/embed/pT-TdnK-Vso?rel=0&amp;modestbranding=1&amp;controls=0&amp;showinfo=0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen="true"></iframe>
                </div>

              </div>
            </article>

            <!-- sustainability -->
            <article class="about-us__sustainability">
              <div class="av-container">
                <div class="about-us__sustainability-title av-col-xs-24">
                  <h2>Uma Empresa Engajada</h2>
                </div>

                <div class="about-us__sustainability-first-text av-col-xs-24 av-col-lg-14">
                  <p>Trabalhamos pela garantia de um mundo que respeita o meio ambiente.</p>
                  <p>Temos ações específicas, como eficiência energética, reciclagem, desenvolvimento de produtos com
                    eco-design e gestão de resíduos em nossas lojas, armazém e escritório.
                  </p>

                  <a href="http://sustainability.decathlon.com/" class="about-us-links gaClick"
                    data-event-category="Quem_Somos" data-event-action="Link"
                    data-event-label="Decathlon Sustainability" target="_blank">Decathlon Sustainability</a>

                  <br />
                  <br />
                </div>

                <div class="about-us__sustainability-first-image av-col-xs-24 av-col-lg-10">
                  <!--  VIDEO  -->
                  <iframe width="100%" height="250"
                    src="https://www.youtube.com/embed/ipr4a1eAhAc?rel=0&amp;modestbranding=1&amp;controls=0&amp;showinfo=0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen="true"></iframe>
                </div>

                <div class="about-us__sustainability-second-text av-col-xs-24 av-col-lg-13 av-col-lg-push-11 ">
                  <p>Nosso compromisso se estende também à contratação de fornecedores que cumprem as normas
                    estabelecidas
                    mundialmente de respeito às leis trabalhistas. Nossos parceiros comerciais são 100% auditados.</p>
                  <p>A inserção social tem importância para nós. Por isso, a <a
                      href="https://www.fondationdecathlon.com/?lang=en" class="about-us-links gaClick"
                      data-event-category="Quem_Somos" data-event-action="Link" data-event-label=" Fundação Decathlon"
                      target="_blank">Fundação
                      Decathlon</a> promove
                    iniciativas que geram oportunidades de descobertas esportivas.</p>
                </div>


                <div class="about-us__sustainability-second-images av-col-xs-24 av-col-lg-11 av-col-lg-pull-13">
                  <!--  VIDEO FUNDAÇÃO DECATHLON  -->
                  <iframe width="100%" height="250"
                    src="https://www.youtube.com/embed/fJyryUXjpSQ?rel=0&amp;modestbranding=1&amp;controls=0&amp;showinfo=0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen="true"></iframe>
                </div>
              </div>
            </article>

            <!-- our actions -->
            <article id="o-que-fazemos" class="about-us__our-actions">
              <div class="av-container">

                <!-- primeiro container -->
                <div class=" av-col-xs-24">
                  <h2>O que Fazemos?</h2>
                  <div class="about-us__our-actions-first-text av-col-sm-14">
                    <p>Queremos oferecer experiências inovadoras por meio do esporte e fazer você suar a camisa!</p>
                    <p>Desejamos ser seu braço direito (e esquerdo!) na hora de se informar quando o assunto é seu
                      esporte preferido. </p>
                    <p>Por isso, você encontra sempre na Decathlon:</p>
                    <p>- Uma equipe expert disposta a tirar todas as suas dúvidas!</p>
                    <p>- Um site recheado de informações técnicas preparadas por esportistas praticantes e um
                      <a href="/atendimento" class="gaClick" data-event-category="Quem_Somos" data-event-action="Link"
                        data-event-label="Decathlon Atendimento" target="_self">
                        atendimento
                        personalizado.</a></p>
                    <p>- +700 dicas esportivas em nosso
                      <a href="https://souesportista.decathlon.com.br/" class="about-us-links gaClick"
                        data-event-category="Quem_Somos" data-event-action="Link" data-event-label="#SouEsportista"
                        target="_blank">blog #SouEsportista</a>
                    </p>
                    <p>- Uma comunidade de esportista que te inspiram na prática através de nossas redes sociais:
                      instagram,
                      facebook.
                    </p>

                    <!-- social-networks -->
                    <div class="social-networks">
                      <span>Siga a Decathlon Brasil:</span>
                      <a href="https://instagram.com/decathlonbrasil" target="_blank" class="gaClick"
                        data-event-category="Quem Somos" data-event-action="link rede social"
                        data-event-label="instagram">
                        <i class="dkti-instagram"></i>
                      </a>
                      <a href="https://www.facebook.com/decathlonbrasil" target="_blank" class="gaClick"
                        data-event-category="Quem Somos" data-event-action="link rede social"
                        data-event-label="facebook">
                        <i class="dkti-facebook"></i>
                      </a>
                    </div>
                  </div>

                  <!-- actions image -->
                  <div class="about-us__our-actions-images av-col-sm-10">
                    <img src="/arquivos/about-us-actions.jpg" alt="Nossos Serviços" />
                  </div>
                </div>

                <!-- segundo container -->
                <div class="av-col-xs-24">
                  <div class="about-us__our-actions-second-text av-col-xs-24 av-col-sm-14 av-col-sm-push-10">
                    <p> <b>Nossos serviços personalizados:</b> Trabalhamos todos os dias para tornar a Decathlon o ponto
                      de
                      encontro
                      de
                      todos os
                      esportistas em qualquer canal.</p>
                    <p>Em nossas lojas, você encontra ainda encordoamento de raquetes, estamparia de camisetas,
                      manutenção,
                      reparo
                      e
                      customização de bikes, patins e patinetes, além da retirada das encomendas realizadas pelo site.
                    </p>
                  </div>

                  <div class="about-us__our-actions-third-image av-col-xs-24 av-col-sm-10 av-col-sm-pull-14">
                    <img src="/arquivos/about-us-first-services.png" alt="Clube Decathlon" />
                  </div>

                  <p class="about-us__our-actions-third-text av-col-xs-24 av-col-sm-14 av-col-sm-push-10">Proporcionamos
                    uma experiência única em nosas áreas de teste e eventos esportivos gratuitos.</p>

                  <div class="about-us__our-actions-fourth-image av-col-xs-24 av-col-sm-10 av-col-sm-pull-14">
                    <img src="/arquivos/about-us-second-services.png" alt="Clube Decathlon" />
                  </div>
                </div>

                <!-- terceiro container -->
                <div class="av-col-xs-24">
                  <div class="av-container">
                    <p>Pelo
                      <a href="/beneficios-clube-decathlon" class="about-us-links gaClick"
                        data-event-category="Quem_Somos" data-event-action="Link" data-event-label="Clube Decathlon"
                        target="_self">Clube Decathlon</a>, nossos
                      clientes-esportistas tem acessso a
                      benefícios exclusivos:
                    </p>
                    <p>Empréstimo dos produtos mais técnicos para que sejam testados em casa ou nas quadras antes de
                      serem adquiridos.</p>
                    <p>Acesso ao aplicativo
                      <a href="https://play.google.com/store/apps/details?id=com.decathlon.app&amp;hl=en"
                        class="about-us-links gaClick" data-event-category="Quem_Somos" data-event-action="Link"
                        data-event-label="Decathlon Play" target="_blank">Decathlon Play</a>, desenvolvido especialmente
                      para quem esta
                      sempre em busca de
                      companhia
                      para
                      dividir durante o treino a paixão pelo esporte.
                    </p>
                    <p>Ainda oferecemos um atendimento dedicado para compras corporativas de empresas, escolas, clubes e
                      universidades pelo site
                      <a href="https://www.decathlonpro.com.br/" class="about-us-links gaClick"
                        data-event-category="Quem_Somos" data-event-action="Link" data-event-label="DecathlonPRO"
                        target="_blank">DecathlonPRO</a>
                    </p>
                  </div>
                </div>

              </div>
            </article>

            <!-- work with us -->
            <article id="trabalhar-na-decathlon" class="about-us__work-with-us">
              <div class="av-container">

                <!-- first container -->
                <div class="about-us__work-with-us-firts-text av-col-xs-24">
                  <h2>Trabalhar na Decathlon</h2>

                  <p>Você é apaixonado por esporte e quer trabalhar com o que ama?</p>
                  <p>Se inspira no comportamento do esportista?</p>
                  <p>Quer desenhar os próximos passos de sua carreira com acompanhamentos que te ajudem a alcançar cada
                    um
                    deles?</p>
                  <p>Quer se desenvolver profissionalmente em uma empresa que te dê a possibilidade e a liberdade de
                    conhecer áreas distintas?</p>
                  <p>Não tem medo de errar e gosta de trabalhar com autonomia?</p>
                </div>

                <div class="about-us__work-with-us-second-text av-col-xs-24">
                  <h3>Se respondeu um sim às perguntas acima, a Decathlon é o seu lugar!
                  </h3>
                </div>

                <div class="about-us__work-with-us-third-text av-col-xs-24">
                  <p>Trabalhamos com paixão e somos autores do nosso próprio projeto profissional. Isso nos motiva todos
                    os dias!</p>
                  <p>Temos formações diversas, mas, acima de tudo, o comportamento do esportista intrínseco em cada
                    músculo</p>
                  <p>Seguimos um modelo de gerenciamento moderno e personalizado, um dos principais diferenciais da
                    nossa
                    empresa!</p>
                </div>

                <div class="about-us__work-with-us-fourth-text av-col-xs-24 av-col-sm-14">
                  <p>E não para por ai...Temos o Decathlon Academy, uma plataforma com vários treinamentos que nos
                    direcionam em nosso percurso profissional. Isso tudo incentiva a nossa autonomia!</p>
                  <p>É o nosso bem-estar e o sucesso da nossa trajetória profissional que garantem o crescimento da
                    nossa
                    empresa.</p>

                  <p><b>Deu match?</b></p>
                  <p><b>Bora entrar para nosso time?</b>
                    <a href="https://jobs.kenoby.com/vagasdecathlon" class="about-us-links gaClick"
                      data-event-category="Quem_Somos" data-event-action="Link" data-event-label="Decathlon Vagas"
                      target="_blank"> Clique Aqui!</a>
                  </p>
                </div>

                <div class="about-us__work-with-us-image av-col-xs-24 av-col-sm-10">
                  <img src="/arquivos/about-us-works.png" alt="Decathlon" />
                </div>

              </div>
            </article>

            <!-- our story -->
            <article id="nossa-historia" class="about-us__our-story">
              <div class="av-col-xs-24">

                <div class="about-us__our-story-title av-col-xs-24">
                  <h3>História da empresa</h3>
                </div>

                <div class="av-col-xs-24 av-col-sm-14">

                  <!-- text -->
                  <div class="about-us__our-story-text">
                    <p>Há mais de 40 anos na França um esportista apaixonado abriu a primeira loja
                      Decathlon com o
                      objetivo
                      de
                      desenvolver a prática esportiva. Hoje somos + de 1500 lojas espalhadas ao redor do mundo em + de
                      55
                      países
                      e + de 30 marcas próprias para cada especialidade esportiva.
                    </p>
                  </div>

                </div>

                <div class="about-us__our-story-timeline av-col-xs-24 av-col-sm-10">
                  <div class="timeline-list">
                    <div class="steppers">
                      1976 - Michel Leclercq fundou a Decathlon em Lille, na França</div>

                    <div class="steppers">
                      25 anos depois...<br />2001 - Chegamos no Brasil com a loja de Campinas
                    </div>

                    <div class="steppers">
                      2013 - Lançamos nosso <a href="/amoesporte" class="gaClick" data-event-category="Quem_Somos"
                        data-event-action="Link" data-event-label="E-commerce 2013" target="_self"></a> e-commerce, que
                      leva nossos produtos para o esportista de todo Brasil
                    </div>

                    <div class="steppers">2018 - Registramos faturamento anual de $1,4B.</div>

                    <div class="steppers">2019 - Contamos com <a href="/lojas" class="about-us-links"
                        data-event-category="Quem_Somos" data-event-action="Link" data-event-label="Lojas Decathlon"
                        target="_self">+30 lojas</a> Decathlon em oito estados Brasileiros e seguimos
                      com um plano de expansão. Ainda este ano, abriremos mais duas lojas.</div>
                  </div>
                </div>

              </div>
            </article>

          </div>
        </section>
        <!-- END - About Us -->


      </div>
    </div>
  </main>
  <!-- END - Miolo da página -->

  <!-- START - Subtemplate Footer -->
  <vtex:template id="0-dcs-web-footer" />
  <!-- END - Subtemplate Footer -->

  <!-- - Script Common -->
  <script src="/arquivos/0-dcs-web-common-script.js"></script>

  <!-- START - Scripts About Us -->
  <script src="/arquivos/0-dcs-web-about_us-script.js"></script>
  <!-- END - Scripts About Us -->
</body>

</html>