<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <vtex:metaTags />
  <meta name="controller" content="General" />

  <!-- START - Subtemplate Metatags -->
  <vtex:template id="0-dcs-web-metatags" />
  <!-- END - Subtemplate Metatags -->

  <!-- START - Style e Subtemplate Styles -->
  <vtex:template id="0-dcs-web-styles" />
  <!-- END - Subtemplate Styles -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <meta name="description" content="Desafie o frio e pratique esporte com nossos produtos: jaqueta, jaqueta 3 em 1, calça, bota masculina, bota feminina, segunda pele e muito mais no site! COMPRE AGORA!" />
  <!--link rel="stylesheet" href="/arquivos/0-dcs-web-lp-inverno-2019-lid.css" /-->
  <title>Encontre tudo para você não parar seu esporte no frio | Decathlon</title>
</head>

<body>
  <!-- START - Subtemplate Header -->
  <vtex:template id="0-dcs-web-header-mobile" />
  <!-- END - Subtemplate Header -->

  <!-- START - Miolo da página -->
  <main class="inverno-2019-main">
    <section class="inverno2019-bg-banner-full-mobile">
      <div class="inverno-2019-banner-descriptions">
        <h1>jaqueta de treKking trek 100 - forclaz</h1>
        <span>feminina e masculina</span>
        <P class="inverno-2019-banner-descriptions-text">
          A nossa equipe, apaixonada por trekking em<br />
          montanha, desenvolveu este casaco para que <br />
          possa caminhar confortavelmente com tempo<br />
          fresco
        </P>
        <p class="shelf-item__best-price shelf-item__best-price--featured">
          <span class="shelf-item__signal-price">R$</span>
          229,99
        </p>
        <p class="installments-write">
          até 4x R$57,49
        </p>

      </div>
      <div class="inverno-2019-bg-banner-images">
        <div class="wrap-box-images">
          <div class="box-image">
            <img src="/arquivos/inverno-2019-banner-jaqueta-left.png" alt="Esporte no Frio" />
          </div>
          <div class="box-image">
            <img src="/arquivos/inverno-2019-banner-jaqueta-rigth.png" alt="Esporte no Frio" />
          </div>
        </div>

      </div>
      <div class="inverno-2019-banner-actions">
        <a class="button button--small button--yellow" 
        href="/jaqueta-feminina-de-trekking-trek100/p">FEMININA
        </a>
        <a class="button button--small button--yellow" 
        href="/jaqueta-masculina-de-trekking-trek100/p">MASCULINA
        </a>
      </div>
    </section>

    <!-- START PRIMEIRO MODELO -->
    <section class="inverno-2019-wrapper">
      <div class="inverno-2019-wrapper-container">
        <div class="inverno-2019-wrapper-image">
          <figure>
            <img class="inverno-2019-wrapper-trek-100" src="/arquivos/inverno2019-mod-trek-100.png"
              alt="Esporte no Frio" />
            <img class="inverno-2019-wrapper-trek-100-pack" src="/arquivos/inverno2019-mod-trek-100-pack.png"
              alt="Esporte no Frio" />
          </figure>
        </div>

        <div class="inverno-2019-wrapper-descriptions">
          <div class="inverno-2019-wrapper-descriptions-container">
            <h2>ECOLÓGICA E COMPACTA</h2>
            <h3>Dobra-se facilmente no bolso</h3>
            <p>O modelo Trek 100 preto, o tecido exterior utiliza um procedimento de tingimento próprio, chamado dope
              dyed (os fios são
              tingidos na massa), que permite reduzir 36 % as emissões de CO2.
            </p>
            <p>
              Relativamente a uma tinta clássica, esta técnica permite diminuir:
              <br />- 64 % as emissões de partículas finas (PM2.5)
              <br />- 72 % a eutrofização da água doce
              <br />- 66 % a eutrofização das águas marinhas
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- END PRIMEIRO MODELO -->

    <!-- START SEGUNDO MODELO -->
    <section class="inverno-2019-wrapper inverno-2019-wrapper-isolamento">
      <div class="inverno-2019-wrapper-container">

        <div class="inverno-2019-wrapper-descriptions">
          <div class="inverno-2019-wrapper-descriptions-container">
            <h2>ISOLAMENTO TÉRMICO</h2>
            <h3>Chumaço em poliéster reciclado (70%) 100 gr/m2.
              <br />
              Cordão de aperto na cintura.
            </h3>
            <p>Este casaco foi validado para uma temperatura de conforto de -6°C durante um teste de protocolo em câmara
              térmica.
            </p>
            <p>
              Por baixo do casaco, o manequim usa uma camisola sintética e um polar leve. Caminha com uma simulação de
              vento de 5
              km/h.
            </p>
          </div>
        </div>

        <div class="inverno-2019-wrapper-image">
          <figure>
            <img class="inverno-2019-wrapper-trek-100" src="/arquivos/inverno2019-mod-trek-100-green.png"
              alt="Esporte no Frio" />
            <img class="inverno-2019-wrapper-trek-100-pack trek-green-small"
              src="/arquivos/inverno2019-mod-trek-100-green-small.png" alt="Esporte no Frio" />
          </figure>
        </div>
      </div>
    </section>
    <!-- END SEGUNDO MODELO -->

    <section class="shelf">
        <h2 class="shelf__title">Elas vão amar!</h2>
        <ul class="shelf__list">
            <li class="shelf__list-item">
                <a href="/blusa-segunda-pele-fresh-warm-feminina-wedze/p">
                    <img src="/arquivos/lp-blusa-segunda-pele-feminina-freshwarm.png" alt="Esporte no Frio" />
                </a>
                <h3 class="shelf__list-item_title">BLUSA SEGUNDA PELE FEMININA FRESHWARM</h3>
                <a class="shelf__list-item_button button button--small button--yellow" href="/blusa-segunda-pele-fresh-warm-feminina-wedze/p">COMPRAR SEGUNDA PELE</a>
                <a class="shelf__list-item_link-category" href="/search?fq&#61;C:/862/&amp;fq=specificationFilter_30:SEGUNDA%20PELE&amp;fq=specificationFilter_19:FEMININO">Ver mais modelos</a>
            </li>
            <li class="shelf__list-item">
                <a href="/blusa-fleece-forclaz-50-feminina-quechua/p">
                    <img src="/arquivos/lp-blusa-feminina-de-fleece-forclaz-50.png" alt="Esporte no Frio" />
                </a>
                <h3 class="shelf__list-item_title">BLUSA FEMININA DE FLEECE FORCLAZ 50</h3>
                <a class="shelf__list-item_button button button--small button--yellow" href="/blusa-fleece-forclaz-50-feminina-quechua/p">COMPRAR FLEECE</a>
                <a class="shelf__list-item_link-category" href="/search?fq&#61;C:/862/&amp;fq=specificationFilter_30:BLUSAS%20E%20FLEECES&amp;fq=specificationFilter_19:FEMININO">Ver mais modelos</a>
            </li>
            <li class="shelf__list-item">
                <a href="/bota-feminina-trilha-sh100/p">
                    <img src="/arquivos/lp-bota-feminina-de-trilha-na-neve-impermeavel-sh100.png" alt="Esporte no Frio" />
                </a>
                <h3 class="shelf__list-item_title">BOTA FEMININA DE TRILHA NA NEVE IMPERMEÁVEL SH100</h3>
                <a class="shelf__list-item_button button button--small button--yellow" href="/bota-feminina-trilha-sh100/p">COMPRAR BOTA SH100</a>
                <a class="shelf__list-item_link-category" href="/search?fq&#61;C:/861/&amp;ft=botas&amp;fq=specificationFilter_19:FEMININO">Ver mais modelos</a>
            </li>
            <li class="shelf__list-item">
                <a href="/jaqueta-feminina-de-trekking-trek100/p">
                    <img src="/arquivos/lp-jaqueta-feminina-de-trekking-trek100.png" alt="Esporte no Frio" />
                </a>
                <h3 class="shelf__list-item_title">JAQUETA FEMININA DE TREKKING TREK100</h3>
                <a class="shelf__list-item_button button button--small button--yellow" href="/jaqueta-feminina-de-trekking-trek100/p">COMPRAR JAQUETA</a>
                <a class="shelf__list-item_link-category" href="/search?fq&#61;C:/761/790/793/&amp;fq=specificationFilter_19:FEMININO&amp;ft=jaquetas">Ver mais modelos</a>
            </li>
        </ul>
    </section>
    
    <section class="shelf">
        <h2 class="shelf__title">Eles vão curtir!</h2>
        <ul class="shelf__list">
            <li class="shelf__list-item">
                <a href="/blusa-segunda-pele-de-ski-freshwarm-masculina-wedze/p">
                    <img src="/arquivos/lp-blusa-segunda-pele-masculina-freshwarm.png" alt="Esporte no Frio" />
                </a>
                <h3 class="shelf__list-item_title">BLUSA SEGUNDA PELE MASCULINA FRESHWARM</h3>
                <a class="shelf__list-item_button button button--small button--yellow" href="/blusa-segunda-pele-de-ski-freshwarm-masculina-wedze/p">COMPRAR SEGUNDA PELE</a>
                <a class="shelf__list-item_link-category" href="/search?fq&#61;C:/862/&amp;fq=specificationFilter_30:SEGUNDA%20PELE&amp;fq=specificationFilter_19:MASCULINO">Ver mais modelos</a>
            </li>
            <li class="shelf__list-item">
                <a href="/blusa-fleece-forclaz-50-masculina-quechua/p">
                    <img src="/arquivos/lp-blusa-masculina-de-fleece-forclaz-50.png" alt="Esporte no Frio" />
                </a>
                <h3 class="shelf__list-item_title">BLUSA MASCULINA DE FLEECE FORCLAZ 50</h3>
                <a class="shelf__list-item_button button button--small button--yellow" href="/blusa-fleece-forclaz-50-masculina-quechua/p">COMPRAR FLEECE</a>
                <a class="shelf__list-item_link-category" href="/search?fq&#61;C:/862/&amp;fq=specificationFilter_30:BLUSAS%20E%20FLEECES&amp;fq=specificationFilter_19:MASCULINO">Ver mais modelos</a>
            </li>
            <li class="shelf__list-item">
                <a href="/bota-masculina-impermeavel-neve-sh100-quechua/p?aSku=Cor:cinza-carbono">
                    <img src="/arquivos/lp-bota-masculina-de-trilha-impermeavel-sh100-warm-mid.png" alt="Esporte no Frio" />
                </a>
                <h3 class="shelf__list-item_title">BOTA MASCULINA DE TRILHA IMPERMEÁVEL SH100 WARM MID</h3>
                <a class="shelf__list-item_button button button--small button--yellow" href="/bota-masculina-impermeavel-neve-sh100-quechua/p?aSku=Cor:cinza-carbono">COMPRAR BOTA SH100</a>
                <a class="shelf__list-item_link-category" href="/search?fq&#61;C:/861/&amp;ft=botas&amp;fq=specificationFilter_19:MASCULINO">Ver mais modelos</a>
            </li>
            <li class="shelf__list-item">
                <a href="/jaqueta-masculina-de-trekking-trek100/p">
                    <img src="/arquivos/lp-jaqueta-masculina-de-trekking-trek100.png" alt="Esporte no Frio" />
                </a>
                <h3 class="shelf__list-item_title">JAQUETA MASCULINA DE TREKKING TREK100</h3>
                <a class="shelf__list-item_button button button--small button--yellow" href="/jaqueta-masculina-de-trekking-trek100/p">COMPRAR JAQUETA</a>
                <a class="shelf__list-item_link-category" href="/search?fq&#61;C:/761/790/793/&amp;fq=specificationFilter_19:MASCULINO&amp;ft=jaquetas">Ver mais modelos</a>
            </li>
        </ul>
    </section>

    <!-- INICIO VITRINE -->
    <section class="inverno-2019-showcase">
        <h2 class="inverno-2019-showcase-title">CONFIRA NOSSAS JAQUETAS</h2>
        <div class="inverno-2019-showcase-container">
            <!-- ITEM1 -->
            <div class="inverno-2019-showcase-item">
                <a href="/jaqueta-impermeavel-de-trilha-rain-cut-masculina-quechua/p">
                    <figure>
                        <img src="/arquivos/INVERNO-2019-JAQUETE-MASCULINA-DE-TRILHA-IMPERMEÁVEL-RAINCUT.png" alt="Esporte no Frio" />
                    </figure>
                    <div class="inverno-2019-showcase-item-title">
                        <h2>JAQUETE MASCULINA DE TRILHA</h2>
                        <h2>IMPERMEÁVEL RAINCUT</h2>
                    </div>
                </a>
            </div>
    
            <!-- ITEM2 -->
            <div class="inverno-2019-showcase-item">
                <a href="/jaqueta-feminina-de-trilha-forclaz-500-quechua/p">
                    <figure>
                        <img src="/arquivos/INVERNO-2019-JAQUETA-FEMININA-DE-TRILHA-FORCLAZ-500-QUECHUA.png" alt="Esporte no Frio" />
                    </figure>
                    <div class="inverno-2019-showcase-item-title">
                        <h2>JAQUETA FEMININA DE TRILHA</h2>
                        <h2>FORCLAZ 500 QUECHUA</h2>
                    </div>
                </a>
            </div>
    
            <!-- ITEM3 -->
            <div class="inverno-2019-showcase-item">
                <a href="/jaqueta-masculina-de-trekking-trek500/p">
                    <figure>
                        <img src="/arquivos/INVERNO-2019-JAQUETA-MASCULINA-DE-TREKKING-IMPERMEÁVEL-TREK500.png" alt="Esporte no Frio" />
                    </figure>
                    <div class="inverno-2019-showcase-item-title">
                        <h2>JAQUETA MASCULINA DE TREKKING</h2>
                        <h2>IMPERMEÁVEL TREK500</h2>
                    </div>
                </a>
            </div>
    
            <!-- ITEM4 -->
            <div class="inverno-2019-showcase-item">
                <a href="/jaqueta-feminina-de-trilha-impermeavel-sh500/p">
                    <figure>
                        <img src="/arquivos/INVERNO-2019-JAQUETA-FEMININA-DE-TRILHA-IMPERMEÁVEL SH500.png" alt="Esporte no Frio" />
                    </figure>
                    <div class="inverno-2019-showcase-item-title">
                        <h2>JAQUETA FEMININA DE TRILHA</h2>
                        <h2>IMPERMEÁVEL SH500</h2>
                    </div>
                </a>
            </div>
        </div>
    
        <div class="inverno-2019-showcase-btn-view-all">
            <a class="button button--medium button--blue" href="/jaquetas">
                VER TODAS AS JAQUETAS
            </a>
        </div>
    </section>
    <!-- FIM VITRINE -->

    <section class="box-categories">
        <h3 class="box-categories__title">Prepare-se para o frio no seu esporte</h3>
        <ul class="box-categories__list">
            <li class="box-categories__list-item bg-inverno-corrida">
                <div class="box-categories__list-item-overlay">
                    <a href="/corrida/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Corrida">Corrida</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-ciclismo">
                <div class="box-categories__list-item-overlay">
                    <a href="/ciclismo-estrada/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Ciclismo">Ciclismo</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-ski">
                <div class="box-categories__list-item-overlay">
                    <a href="/ski-e-snowboard/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Ski">Ski</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-trekking">
                <div class="box-categories__list-item-overlay">
                    <a href="/trilha-e-trekking/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Trekking">Trekking</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-trilha">
                <div class="box-categories__list-item-overlay">
                    <a href="/trilha-e-trekking/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Trilha">Trilha</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-gym-pilates">
                <div class="box-categories__list-item-overlay">
                    <a href="/pilates/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="GYM/Pilates">GYM/Pilates</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-fitness">
                <div class="box-categories__list-item-overlay">
                    <a href="/treino-cardio/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Fitness">Fitness</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-yoga">
                <div class="box-categories__list-item-overlay">
                    <a href="/yoga/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Yoga">Yoga</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-tenis">
                <div class="box-categories__list-item-overlay">
                    <a href="/tennis/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Tênis">Tênis</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-natacao">
                <div class="box-categories__list-item-overlay">
                    <a href="/natacao/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Natação">Natação</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-surf">
                <div class="box-categories__list-item-overlay">
                    <a href="/surf-e-bodyboard/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Surf">Surf</a>
                </div>
            </li>
            <li class="box-categories__list-item bg-inverno-futebol">
                <div class="box-categories__list-item-overlay">
                    <a href="/futebol/208?PS&#61;20&amp;map&#61;c,productClusterIds#1" title="Futebol">Futebol</a>
                </div>
            </li>
        </ul>
    </section>

    <section class="text-seo">
      <h2>Desafie o frio, pratique esporte!</h2>
      <p>O Outono já começou e é normal aqueles dias de temperaturas mais amenas. E se as temperaturas já começaram a baixar agora, imagine só como pode ser no Inverno?!</p>
      <p>Se você já é um apaixonado por esporte ou começou a praticar recentemente, deve saber que manter a frequência de treinos, independente da estação do ano, é fundamental para atingir seus objetivos, certo?</p>
      <p>Quando falamos de esporte no frio sempre vem na cabeça os esportes de neve ou os esportes de montanha, mas não podemos esquecer de todos os outros esportistas praticam corrida, ciclismo, esportes coletivos (futebol, vôlei, basquete, handebol), surf, esportes náuticos, ginástica, Pilates, esportes de raquetes (tênis, badminton, squash, padel), hipismo, entre tantos outros.</p>
      <h3>A Decathlon tem os produtos ideais para você praticar esporte no frio</h3>
      <p>Pensando nisso, organizamos nessa página os produtos mais indicados para você se manter quente e praticar esporte no frio: fleece, segunda pele, calças (calça feminina e calça masculina), bota (bota feminina e bota masculina), jaqueta (jaqueta impermeável, jaqueta 3 em 1, corta vento), camisa térmica, bermuda térmica, calça térmica, legging, camiseta manga longa, blusa de moletom, calça de moletom, tênis de corrida, meias, luvas e muito mais!</p>
      <p>E aí, partiu praticar esporte no frio?</p>
      <h4><strong>Confira as nossas dicas esportivas:</strong></h4>
      <p><a href="https://souesportista.decathlon.com.br/5-dicas-para-nao-sentir-frio-em-seu-saco-de-dormir/">Camping: 5 dicas para não sentir frio em seu saco de dormir</a><br />
        <a href="https://souesportista.decathlon.com.br/ciclismo-urbano-no-inverno-22-dicas-para-pedalar-com-seguranca/">Ciclismo Urbano: Dicas para pedalar com segurança no inverno</a><br />
        <a href="https://souesportista.decathlon.com.br/10-dicas-para-praticar-corrida-no-frio/">Corrida: 10 dicas para correr no frio</a><br />
        <a href="https://souesportista.decathlon.com.br/dicas-para-escalar-no-inverno/">Escalada: Dicas para escalar no inverno com segurança</a><br />
        <a href="https://souesportista.decathlon.com.br/como-escolher-seu-equipamento-de-surfe-para-o-inverno/">Surf e Bodyboard: como escolher seu equipamento de surf para o inverno</a><br />
        <a href="https://souesportista.decathlon.com.br/como-manter-a-forma-durante-o-inverno/">Treino Cardio: Como manter a forma durante o inverno</a><br />
        <a href="https://souesportista.decathlon.com.br/como-se-aquecer-no-inverno/">Trilha e trekking: Como se aquecer no inverno</a>
    </p>
      <p>Essas e muitas outras dicas no nosso portal <strong><a href="https://souesportista.decathlon.com.br/dicas/">SouEsportista.com.br</a></strong></p>
    </section>
  </main>
  <!-- END - Miolo da página -->

  <!-- START - Subtemplate Generico -->
  <vtex:template id="0-dcs-web-generico" />
  <!-- END - Subtemplate Generico -->

  <!-- START - Subtemplate Footer -->
  <vtex:template id="0-dcs-web-footer" />
  <!-- END - Subtemplate Footer -->

  <!-- START - Scripts e Subtemplate Scripts -->
  <vtex:template id="0-dcs-web-scripts" />
  <!-- END - Subtemplate Scripts -->
  <script>
    $('.shelf ul').slick({
      slidesToShow: 2,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 425,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.inverno-2019-showcase-container').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 425,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    
    $(".benefits-bar").slick({
            infinite: !1,
            autoplay: !1,
            dots: !1,
            arrows: !0,
            slidesToShow: 1,
            slidesToScroll: 1
        });
  </script>
</body>

</html>