<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags />
    <title></title>
    <meta name="description" content="" />
    <meta name="controller" content="LpTreinoCardio" />

    <!-- START - Subtemplate Metatags -->
    <vtex:template id="0-dcs-web-metatags" />
    <!-- END - Subtemplate Metatags -->
    
    <!-- START - Style e Subtemplate Styles -->
    <!--<vtex:template id="0-dcs-web-styles" />-->
    <link rel="stylesheet" href="/arquivos/0-dcs-web-lp_treino_cardio-style.css" />
    <!-- END - Subtemplate Styles -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
    <!-- START - Subtemplate Header -->
    <vtex:template id="0-dcs-web-header-desktop" />
    <!-- END - Subtemplate Header -->

    <!-- START - Miolo da página -->
    <main class="main" id="main">
        <div class="breadcrumb">
            <a href="" class=""><i class="dkti-arrow2-left"></i> Voltar</a>
        </div>
        <section class="intro">
            <h2 class="intro_title">Nova Coleção Treino Cardio</h2>
            <p class="intro_description">Aqui você encontra tudo para o treino de Fitness Cardio, seja iniciante ou performance. Descubra o vestuário e o equipamento ideal para você.</p>
        </section>
        <section class="category-list">
            <div class="box box--medium">
                <div class="item womens-clothes">
                    <a href="/treino-cardio/roupas-femininas"  title="Ver todas as Roupas Femininas" data-event-category="Feminino" data-event-action="Click Name" data-event-label="Ver tudo">
                        <h3>Roupas Femininas</h3>
                    </a>
                    <ul>
                        <li>
                            <a href="/treino-cardio/roupas-femininas/tops" class="gaClick" title="TOPS" data-event-category="Feminino" data-event-action="Click Name" data-event-label="TOPS">Tops</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-femininas/calcas-e-leggings" class="gaClick" title="LEGGINGS" data-event-category="Feminino" data-event-action="Click Name" data-event-label="LEGGINGS">Calças e Leggings</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-femininas/camisetas" class="gaClick" title="CAMISETAS" data-event-category="Feminino" data-event-action="Click Name" data-event-label="CAMISETAS">Camisetas</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-femininas/regatas" class="gaClick" title="REGATAS" data-event-category="Feminino" data-event-action="Click Name" data-event-label="REGATAS">Regatas</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-femininas/saias-shorts" class="gaClick" title="SHORTS/SAIA SHORTS" data-event-category="Feminino" data-event-action="Click Name" data-event-label="SHORTS/SAIA SHORTS">Saia Shorts</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-femininas/shorts" class="gaClick" title="BERMUDAS" data-event-category="Feminino" data-event-action="Click Name" data-event-label="BERMUDAS">Shorts</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-femininas/jaquetas" class="gaClick" title="JAQUETAS" data-event-category="Feminino" data-event-action="Click Name" data-event-label="JAQUETAS">Jaquetas</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-femininas/agasalhos-e-blusas" class="gaClick" title="AGASALHOS E BLUSAS" data-event-category="Feminino" data-event-action="Click Name" data-event-label="AGASALHOS E BLUSAS">Agasalhos e Blusas</a>
                        </li>
                    </ul>
                </div>
                <div class="item mens-clothes">
                    <a href="/treino-cardio/roupas-masculinas"  title="Ver todas as Roupas Masculinos" data-event-category="Masculino" data-event-action="Click Name" data-event-label="Ver tudo">
                        <h3>Roupas Masculinas</h3>
                    </a>
                    <ul>
                        <li>
                            <a href="/treino-cardio/roupas-masculinas/camisetas" class="gaClick" title="CAMISETAS" data-event-category="Masculino" data-event-action="Click Name" data-event-label="CAMISETAS">Camisetas</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-masculinas/regatas" class="gaClick" title="REGATAS" data-event-category="Masculino" data-event-action="Click Name" data-event-label="REGATAS">Regatas</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-masculinas/bermudas-e-shorts" class="gaClick" title="BERMUDAS E SHORTS" data-event-category="Masculino" data-event-action="Click Name" data-event-label="BERMUDAS E SHORTS">Bermudas e Shorts</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-masculinas/calcas-e-leggings" class="gaClick" title="CALÇAS E LEGGINGS" data-event-category="Masculino" data-event-action="Click Name" data-event-label="CALÇAS E LEGGINGS">Calças e Leggings</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-masculinas/jaquetas" class="gaClick" title="JAQUETAS" data-event-category="Masculino" data-event-action="Click Name" data-event-label="JAQUETAS">Jaquetas</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/roupas-masculinas/agasalhos-e-blusas" class="gaClick" title="AGASALHOS E BLUSAS" data-event-category="Masculino" data-event-action="Click Name" data-event-label="AGASALHOS E BLUSAS">Agasalhos e Blusas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box box--small">
                <div class="item womens-shoes">
                    <a href="/treino-cardio/calcados/femininos"  title="Calçados Femininos" data-event-category="Feminino" data-event-action="Click Name" data-event-label="Calçados Femininos">
                        <h3>Calçados Femininos</h3>
                    </a>
                </div>
                <div class="item mens-shoes">
                    <a href="/treino-cardio/calcados/masculinos"  title="Calçados Masculinos" data-event-category="Masculino" data-event-action="Click Name" data-event-label="Calçados Masculinos">
                        <h3>Calçados Masculinos</h3>
                    </a>
                </div>
            </div>
            <div class="box box--large">
                <div class="item equipment">
                    <a href="/treino-cardio/equipamentos"  title="Equipamento" data-event-category="Equipamento" data-event-action="Click Name" data-event-label="Equipamento">
                        <h3>Equipamento</h3>
                    </a>
                    <ul>
                        <li>
                            <a href="/treino-cardio/equipamentos/bike-ergometrica" class="gaClick" title="BIKE ERGOMÉTRICA" data-event-category="Equipamento" data-event-action="Click Name" data-event-label="BIKE ERGOMÉTRICA">Bike Ergométrica</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/equipamentos/bicicleta-spinning" class="gaClick" title="BICICLETA SPINNING" data-event-category="Equipamento" data-event-action="Click Name" data-event-label="BICICLETA SPINNING">Calças e Leggings</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/equipamentos/corda" class="gaClick" title="CORDA" data-event-category="Equipamento" data-event-action="Click Name" data-event-label="CORDA">Corda</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/equipamentos/esteira" class="gaClick" title="ESTEIRA" data-event-category="Equipamento" data-event-action="Click Name" data-event-label="ESTEIRA">Esteira</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/equipamentos/eliptico" class="gaClick" title="ELIPTICO" data-event-category="Equipamento" data-event-action="Click Name" data-event-label="ELIPTICO">Eliptico</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/equipamentos/remo" class="gaClick" title="REMO" data-event-category="Equipamento" data-event-action="Click Name" data-event-label="REMO">Remo</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/equipamentos/step" class="gaClick" title="STEP" data-event-category="Equipamento" data-event-action="Click Name" data-event-label="STEP">Step</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/equipamentos/trampolim" class="gaClick" title="TRAMPOLIM" data-event-category="Equipamento" data-event-action="Click Name" data-event-label="TRAMPOLIM">Trampolim</a>
                        </li>
                    </ul>
                </div>
                <div class="item accessories">
                    <a href="/treino-cardio/acessorios"  title="Acessórios" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="Acessórios">
                        <h3>Acessórios</h3>
                    </a>
                    <ul>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/BOLSAS%20E%20LANCHEIRAS?map=c,c,c,specificationFilter_30" class="gaClick" title="BOLSAS E LANCHEIRAS" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="BOLSAS E LANCHEIRAS">Bolsas e Lancheiras</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/CADEADOS?map=c,c,c,specificationFilter_30" class="gaClick" title="CADEADOS" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="CADEADOS">Cadeados</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/CINTAS%20DE%20SUDAÇÃO?map=c,c,c,specificationFilter_30" class="gaClick" title="CINTAS DE SUDAÇÃO" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="CINTAS DE SUDAÇÃO">Cintas e Sudação</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/CORDAS?map=c,c,c,specificationFilter_30" class="gaClick" title="CORDAS" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="CORDAS">Cordas</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/FAIXAS%20DE%20CABELO?map=c,c,c,specificationFilter_30" class="gaClick" title="FAIXAS DE CABELO" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="FAIXAS DE CABELO">Faixas de Cabelo</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/BOLSAS%20E%20LANCHEIRAS?map=c,c,c,specificationFilter_30" class="gaClick" title="MALAS" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="MALAS">Malas</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/MEIAS%20E%20POLAINAS?map=c,c,c,specificationFilter_30" class="gaClick" title="MEIAS E POLAIANAS" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="MEIAS E POLAIANAS">Meias e Polainas</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/SHAKERS%20E%20SQUEEZE?map=c,c,c,specificationFilter_30" class="gaClick" title="SHAKERS E SQUEEZE" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="SHAKERS E SQUEEZE">Shakers e Squeeze</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/TAPA BUMBUM?map=c,c,c,specificationFilter_30" class="gaClick" title="TAPA BUMBUM" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="TAPA BUMBUM">Tapa Bumbum</a>
                        </li>
                        <li>
                            <a href="/treino-cardio/acessorios/acessorios-de-academia/TOALHAS%20FITNESS?map=c,c,c,specificationFilter_30" class="gaClick" title="TOALHAS" data-event-category="Acessórios" data-event-action="Click Name" data-event-label="TOALHAS">Toalhas</a>
                        </li>    
                    </ul>
                </div>
            </div>
        </section>
        <section id="nova-colecao" class="collection">
            <h3>Nova Coleção Verão 2020</h3>
            <ul>
                <li class="elements">
                    <a href="/nova-colecao-treino-cardio-verao-2020" class="gaClick" title="ELEMENTS" data-event-category="Feminino" data-event-action="Click BOX" data-event-label="ELEMENTS">Coleção completa <span>Elements</span></a>
                </li>
                <li class="jungle">
                    <a href="/nova-colecao-treino-cardio-verao-2020/jungle" class="gaClick" title="JUNGLE" data-event-category="Feminino" data-event-action="Click BOX" data-event-label="JUNGLE">Jungle <span>Nova Coleção</span></a>
                </li>
                <li class="crush">
                    <a href="/nova-colecao-treino-cardio-verao-2020/crush" class="gaClick" title="CRUSH" data-event-category="Feminino" data-event-action="Click BOX" data-event-label="CRUSH">Crush <span>Nova Coleção</span></a>
                </li>
                <li class="palms">
                    <a href="/nova-colecao-treino-cardio-verao-2020/palms" class="gaClick" title="PALMS" data-event-category="Feminino" data-event-action="Click BOX" data-event-label="PALMS">Palms</a>
                </li>
                <li class="terra">
                    <a href="/nova-colecao-treino-cardio-verao-2020/terra" class="gaClick" title="TERRA" data-event-category="Feminino" data-event-action="Click BOX" data-event-label="TERRA">Terra</a>
                </li>
                <li class="camuflada">
                    <a href="/nova-colecao-treino-cardio-verao-2020/camuflada" class="gaClick" title="CAMUFLADA" data-event-category="Feminino" data-event-action="Click BOX" data-event-label="CAMUFLADA">Camuflada</a>
                </li>
                <li class="delta">
                    <a href="/nova-colecao-treino-cardio-verao-2020/delta" class="gaClick" title="DELTA" data-event-category="Feminino" data-event-action="Click BOX" data-event-label="DELTA">Delta</a>
                </li>
            </ul>
        </section>

        <div class="seo-text">
            <p>Na Domyos, o que nos motiva é o Treino Cardio, a Ginástica, o Pilates, o Yoga e a Dança. E o que nos inspira para desenvolvermos os melhores produtos, é você esportista. Queremos que você, esportista, sinta as vantagens e o prazer de estar em forma e se sinta bem e em equilíbrio com seu corpo e sua mente. Desenvolvemos e fabricamos produtos para todos os praticantes, do iniciante ao performance, produtos simples, lúdicos, inovadores e técnicos. Nos propomos também a oferecer dicas e sugestões para motiva-los.</p>
        </div>
    </main>
    <!-- END - Miolo da página -->

    <!-- START - Subtemplate Footer -->
    <vtex:template id="0-dcs-web-footer" />
    <!-- END - Subtemplate Footer -->
    
    <!-- START - Scripts e Subtemplate Scripts -->
    <vtex:template id="0-dcs-web-common-script" />
    <!-- END - Subtemplate Scripts -->

    <!-- START - Scripts e Subtemplate Scripts -->
    <script type="text/javascript" src="/arquivos/0-dcs-web-lp_treino_cardio-script.js"></script>
    <!-- END - Subtemplate Scripts -->
</body>

</html>