<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
    <head>
        <vtex:metaTags/>
        <meta name="controller" content="Institucional" />

        <!-- INICIO - Subtemplate Metatags -->
        <vtex:template id="0-dcs-web-metatags" />
        <!-- FIM - Subtemplate Metatags -->
        <title>Quem Somos &#8211; Decatlhon</title>

        <!-- INICIO - Style e Subtemplate Styles -->
        <vtex:template id="0-dcs-web-styles" />
        <!-- FIM - Subtemplate Styles -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,400italic,300,300italic,700,700italic" />
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,500italic,400italic,300,300italic,700,700italic" />
      <link rel="stylesheet" href="/arquivos/venon.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="/arquivos/jquery.bxslider.min.css" type="text/css" />
      <link rel='stylesheet' id='decathlon-style-css' href='/arquivos/lps-style.css' type='text/css' media='all' />

    </head>

<body class="page-template page-template-template-quem-somos page-template-template-quem-somos-php page page-id-3185 ifc-desktop home">
  <!-- INICIO - Subtemplate Header -->
  <vtex:template id="0-dcs-web-header" />
  <!-- FIM - Subtemplate Header -->
  <main id="page" class="site main">
    <div class="bg-overlay"></div>

    <div id="content" class="site-content">

      <link rel="stylesheet" href="/arquivos/estilo-quem-somos.css" type="text/css" />
      <div class="Barra-TrabalheConosco">
        <em>Junte-se ao nosso time: o esporte pode e deve ser para todos!</em>
        <a href="http://www.decathlon.com.br/trabalhe-conosco" target="_blank" class="cta">Trabalhe Conosco</a>
        <span class="icon icon-close" id="closeBarra"></span>
      </div>
      <div id="primary" class="quem-somos content-area">
        <nav id="menu" class="p-esconde">
          <ul>
            <li>
              <a href="#apresentacao" title="Introdução">
                <i></i>
                <p>
                  <span></span>
                </p>
              </a>
            </li>
            <li>
              <a href="#historia" title="Cadeia Completa">
                <i></i>
                <p>
                  <span></span>
                </p>
              </a>
            </li>
            <li>
              <a href="#marcas" title="Marcas Exclusivas">
                <i></i>
                <p>
                  <span></span>
                </p>
              </a>
            </li>
            <li>
              <a href="#relatorio" title="Sustentabilidade">
                <i></i>
                <p>
                  <span></span>
                </p>
              </a>
            </li>
            <li>
              <a href="#fundacao" title="Fundação Decathlon">
                <i></i>
                <p>
                  <span></span>
                </p>
              </a>
            </li>
            <li>
              <a href="#numeros" title="Nossos números">
                <i></i>
                <p>
                  <span></span>
                </p>
              </a>
            </li>
            <li>
              <a href="#avaliacao" title="Avaliações">
                <i></i>
                <p>
                  <span></span>
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <div class="barra-fixa">
          <div class="container container--fora">
            <div class="center">
              <h1 class="titulo primario">Quem Somos</h1>
            </div>
            <div class="selos p-esconde pp-esconde">
              <a class="cta" href="https://decathlon-erecruitcdd.seeker.com.br/Seeker/InterfaceGrafica/login.aspx" target="_blank">Cadastre-se</a>
            </div>
          </div>
        </div>
        <section class="apresentacao" id="apresentacao">
          <div class="container container--dentro">
            <p class="introducao">A prática esportiva beneficia o corpo, a mente e as relações humanas. Por isso, trabalhamos todos os dias para democratizar
              o esporte, através de produtos com o melhor custo-benefício do mercado. Em 1976 começamos a construir o que hoje chamamos
              de domínio da cadeia completa. Nosso volume de negócios é resultado desta visão, e é por isso que a Decathlon é líder
              mundial na distribuição de artigos esportivos.
            </p>
            <div class="player pp-esconde">
              <a data-vbgall="gall-video" data-vbtype="youtube" href="https://youtu.be/OIJ-uKyI4CE">
                <span class="play"></span>
                <span class="box"></span>
              </a>
            </div>
          </div>
          <div class="container container--dentro">
            <div class="metade destaque">
              <blockquote>"Seja bem vindo ao nosso jogo: o esporte pode e deve ser para todos!"</blockquote>
              <div class="cx">
                <img class="lider float-left" src="/arquivos/lps-img-lider-brasil.jpg"
                 alt="" />
                <div class="cx infos float-left">
                  <img src="/arquivos/lps-img-assinatura.png" alt="" />
                  <p>
                    <strong>Cedric Burel</strong>
                    <br />
                    <em>Líder</em>
                    <br />
                    <em>Decathlon Brasil</em>
                  </p>
                </div>
              </div>
              <div class="bg-img"></div>
            </div>
            <div class="metade destaque sequencia">
              <p>Sentido:
                <br />
                <strong>Tornar o esporte acessível ao maior número de pessoas.</strong>
              </p>
              <p>Valores:</p>
              <p>
                <strong>Vitalidade </strong>
                <br />
                <b>espírito empreendedor, “mão na massa”.</b>
              </p>
              <p>
                <strong>Responsabilidade </strong>
                <br />
                <b>tomar decisões, aprender com os erros. </b>
              </p>
            </div>
          </div>
        </section>
        <section class="historia" id="historia">
          <div class="bg"></div>
          <div class="controles">
            <div class="container">
              <div class="trilha"></div>
              <div class="container container--fora">
                <button id="histNav-prev"></button>
                <div id="indice" class="container container--dentro">
                  <a href="" data-slide-index="0">
                    <strong>Ominicanal</strong>
                    <span></span>
                  </a>
                  <a href="" data-slide-index="1">
                    <strong>Inovação</strong>
                    <span></span>
                  </a>
                  <a href="" data-slide-index="2">
                    <strong>Pesquisa e
                      <br /> Desenvolvimento</strong>
                    <span></span>
                  </a>
                  <a href="" data-slide-index="3">
                    <strong>Design</strong>
                    <span></span>
                  </a>
                  <a href="" data-slide-index="4">
                    <strong>Direção
                      <br /> Industrial</strong>
                    <span></span>
                  </a>
                  <a href="" data-slide-index="5">
                    <strong>Cadeia de
                      <br /> Abastecimento
                      <br /> e Logistica</strong>
                    <span></span>
                  </a>
                </div>
                <button id="histNav-next"></button>
              </div>
            </div>
          </div>
          <div id="historiaBx">
            <div class="item" id="ominical">
              <h3 class="titulo tituloSlider">OMNICANAL</h3>
              <div class="container container--dentro">
                <div class="metade">
                  <h4 class="subtitulo">Especializada em esporte</h4>
                  <p class="margin-fix">São 7 mil produtos, para praticantes iniciantes aos mais avançados, divididos entre 65 esportes, por finalidade
                    de uso.</p>
                  <h4 class="subtitulo">Experiência esportiva</h4>
                  <p>Áreas de teste e atividades esportivas nas lojas, dicas e conselhos no site para você entrar no mundo do esporte
                    e depois decidir o que quer praticar.</p>
                  <h4 class="subtitulo">O melhor custo-benefício</h4>
                  <p>O domínio da cadeia completa garante produtos no melhor custo-benefício do mercado - qualidade técnica e preço baixo
                    durante todo o ano.</p>
                </div>
                <div class="metade">
                  <h4 class="subtitulo">O produto certo pra você</h4>
                  <p>Para indicar o que é melhor para você, os vendedores e profissionais online do Atendimento ao Cliente Esportista
                    experimentam os produtos nos locais de prática, do camping ao surf.</p>
                  <h4 class="subtitulo">Compra consciente</h4>
                  <p>A ficha técnica te ajuda a escolher o produto certo para a sua necessidade. Nas avaliações do site, outros usuários
                    contam como foi a experiência de uso e desempenho do produto.</p>
                  <h4 class="subtitulo">Serviços especializados</h4>
                  <p>Nas lojas você encontra serviços de manutenção, reparo e customização nas oficinas de rodas (bikes, patins, skates
                    e patinetes), encordoamento de raquetes e estamparia de camisetas.</p>
                </div>
                <h4 class="subtitulo">Serviços especializados</h4>
                <p>Garanta o seu produto comprando pelo site e retire sua compra na loja mais próxima de você, com frete grátis. </p>
              </div>
            </div>
            <div class="item" id="inovacao">
              <h3 class="titulo tituloSlider">inovação</h3>
              <div class="container container--dentro inovacao">
                <div class="metade">
                  <p>Rede de tênis de mesa que se adapta a qualquer superfície, patins que cresce junto com os pés das crianças, uma
                    barraca que se monta sozinha, uma máscara de snorkel que permite respirar pelo nariz: a inovação torna o sonho
                    uma realidade.</p>
                  <div class="img-box">
                    <img src="/arquivos/lps-carrosel-historia-ino-palco1.jpg"
                     alt="" />
                  </div>
                </div>
                <div class="metade">
                  <p class="margin-fix">A premiação Innovation Awards by Decathlon revela os produtos inovadores que chegarão em breve nas lojas e que irão
                    transformar a sua experiência esportiva.</p>
                  <div class="img-box">
                    <img src="/arquivos/lps-carrosel-historia-ino-palco2.jpg"
                     alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="item" id="pesquisa">
              <h3 class="titulo tituloSlider">Pesquisa e desenvolvimento</h3>
              <div class="container container--dentro">
                <p>Desde 1990, A Decathlon Research é unidade internacional de pesquisa e desenvolvimento do grupo Decathlon que tem
                  como objeto estudar o corpo humano em movimento. Os times da Decathlon Research registram, em média, 25 patentes
                  por ano e estão divididos em cinco temas de pesquisa : morfologia, corpo humano em movimento, termo-fisiologia,
                  saúde e análise sensorial.</p>
                <div class="img-box">
                  <img src="/arquivos/lps-carrosel-historia-pes-lab.jpg"
                   alt="" />
                  <img src="/arquivos/lps-carrosel-historia-pes-termo.jpg"
                   alt="" />
                </div>
              </div>
            </div>
            <div class="item" id="design">
              <h3 class="titulo tituloSlider">DESIGN</h3>
              <div class="container container--dentro">
                <p>Os designers das marcas exclusivas da Decathlon transformam o desejo e a necessidade dos usuários em um produto final,
                  conduzindo a criatividade para a inovação. Essa abordagem criativa, com foco no usuário, nos permite criar produtos
                  icônes que revolucionam o esporte.</p>
                <p>No Brasil, desenvolvemos produtos com modelagens e estampas específicas para os brasileiros, como uma linha exclusiva
                  de biquínis, bodyshorts e top solar destinada aos apaixonados por esportes aquáticos.</p>
                <div class="img-box">
                  <img src="/arquivos/lps-carrosel-historia-des-desenho.jpg"
                   alt="" />
                </div>
              </div>
            </div>
            <div class="item" id="direcao">
              <h3 class="titulo tituloSlider">Direção industrial</h3>
              <div class="container container--dentro">
                <p>A Divisão industrial da Decathlon Internacional desenvolve e garante a qualidade das matérias-primas, tecnologias
                  e processos industriais utilizados nos produtos das marcas exclusivas.</p>
                <div class="img-box">
                  <img src="/arquivos/lps-carrosel-historia-dir-linha.jpg"
                   alt="" />
                </div>
                <h4 class="subtitulo">Produção brasileira </h4>
                <p>A produção nacional tem como objetivo diminuir o preço final do produto e oferecer opções de estampas e m odelagens
                  para melhor atender o mercado brasileiro. Nossos fornecedores locais reproduzem produtos das marcas exclusivas garantindo
                  qualidade e assegurando os requisitos de responsabilidade humana do grupo Decathlon Internacional.</p>
              </div>
            </div>
            <div class="item" id="cadeia">
              <h3 class="titulo tituloSlider">Cadeia de abastecimento e logística</h3>
              <div class="container container--dentro">
                <p>Globalmente e tlocalmente, a cadeia de logística e abastecimento internacional garante a disponibilidade, o armazenamento
                  e a entrega de componentes e produtos, na hora certa, com a melhor qualidade e o menor preço.</p>
                <div class="img-box">
                  <img src="/arquivos/lps-carrosel-historia-cad-map.jpg"
                   alt="" />
                  <img src="/arquivos/lps-carrosel-historia-cad-pessoas.jpg"
                   alt="" />
                </div>
                <h4 class="subtitulo">A relação custo-benefício do produto</h4>
                <p>O domínio da cadeia completa nos permite obter produtos com o melhor custo-benefício do mercado para tornar o esporte
                  acessível ao maior número de pessoas.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="marcas" id="marcas">
          <div class="info">
            <div class="container container--dentro">
              <h2 class="titulo">
                MARCAS
                <strong>EXCLUSIVAS</strong>
              </h2>
              <p>A Decathlon possui marcas exclusivas especializadas em universos esportivos diferentes, que oferecem oferecem produtos
                no melhor custo-benefício do mercado.</p>
            </div>
          </div>
          <div id="marcasBg">
            <div class="marcasBgSlider">
              <div class="item wedze"> </div>
              <div class="item tribord"></div>
              <div class="item simond"></div>
              <div class="item quechua"></div>
              <div class="item oxelo"></div>
              <div class="item orao"></div>
              <div class="item newfeel"></div>
              <div class="item nabaiji"></div>
              <div class="item kipsta"></div>
              <div class="item kalengi"></div>
              <div class="item inesis"></div>
              <div class="item geonaute"></div>
              <div class="item geologic"></div>
              <div class="item fouganza"></div>
              <div class="item domyos"></div>
              <div class="item caperlan"></div>
              <div class="item btwin"></div>
              <div class="item artengo"></div>
              <div class="item aptonia"></div>
            </div>
          </div>
          <div id="marcasInfo">
            <div class="marcasInfoSlider">
              <div class="item amarelo">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-wedze.png" alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">esportes na neve</h3>
                      <p>Produtos de ski e snowboard para prática, espontânea e livre de todos os níveis e idades.
                        <a href="http://www.decathlon.com.br/wedze"
                         target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item amarelo">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-tribord.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">esportes aquáticos e náuticos</h3>
                      <p>Equipamentos, roupas e acessórios para a prática de bodyboard, stand up paddle, skimboard; além de mergulho, remo
                        e barco. A proteção solar é um dos compromissos da Tribord para a prática segura.
                        <a href="http://www.decathlon.com.br/tribord"
                         target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item azul">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-simond.png" alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">escalada</h3>
                      <p>Produtos cada vez mais inovadores como cadeirinhas, mosquetões, capacetes, cordas, sapatilhas, magnésio, slackline
                        e mochilas, os quais escaladores tem confiado nos últimos 150 anos.
                        <a href="http://www.decathlon.com.br/simond"
                         target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item vermelho">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-quechua.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">montanha e aventura</h3>
                      <p>A Quechua desenvolve produtos, equipamentos e acessórios para trilhas, camping, caminhadas, viagem e mochilão
                        na montanha e na neve.
                        <a href="http://www.decathlon.com.br/quechua" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-oxelo.png" alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">desliza urbano</h3>
                      <p>A Oxelo oferece skates, patinetes, scooters, patins urbanos e proteções para a prática com total segurança.
                        <a
                         href="http://www.decathlon.com.br/oxelo" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-orao.png" alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">óptica esportiva</h3>
                      <p>Produtos ópticos adaptados aos esportes como ciclismo, corrida, montanha, ski, esportes aquáticos, além de óptica
                        infantil e casual.
                        <a href="http://www.decathlon.com.br/orao" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-newfeel.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">caminhada esportiva e urbana</h3>
                      <p>A Newfeel garante o mais adequado produtos para a caminhada esportiva.
                        <a href="http://www.decathlon.com.br/newfeel"
                         target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-nabaiji.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">esportes de piscina</h3>
                      <p>A Nabaiji desenvolve produtos de natação indoor, águas abertas, hidroginástica, triathlon, pólo aquático, jogos
                        de piscina e aprendizado com excelência técnica e inovação para facilitar a prática esportiva.
                        <a href="http://www.decathlon.com.br/nabaiji"
                         target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item laranja">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-kipsta.png" alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">esportes coletivos</h3>
                      <p>A Kipsta cria e desenvolve produtos técnicos e inovadores para os jogadores e equipes de futebol, basquete, vôlei,
                        rugby, baseball, futebol americano, handball, taco.
                        <a href="http://www.decathlon.com.br/kipsta" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item vermelho">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-kalengi.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">Corrida</h3>
                      <p>Produtos para corrida para rua, estrada e trilha como calçados, acessórios, equipamentos e roupas para o frio
                        e o calor.
                        <a href="http://www.decathlon.com.br/kalenji" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-inesis.png" alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">Golfe</h3>
                      <p>A Inesis torna o golfe mais simples e mais espontâneo oferecendo equipamentos, roupas e acessórios para uma prática
                        mais livre.
                        <a href="http://www.decathlon.com.br/inesis" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-geonaute.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">eletrônicos e tecnologia esportiva</h3>
                      <p>A Geonaute desenvolve produtos como: monitores cardíacos, relógios, cronômetros, lanternas, câmeras esportivas,
                        podômetro, fones, massageadores, balanças, GPS, bússolas, pilhas e acessórios.
                        <a href="http://www.decathlon.com.br/geonaute"
                         target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item verde">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-geologic.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">esportes de alvo e precisão</h3>
                      <p>Produtos para a prática de dardos, arco e flecha e bocha que garantem horas de satisfação e diversão através de
                        equipamentos e acessórios técnicos, lúdicos e acessíveis.
                        <a href="http://www.decathlon.com.br/geologic" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item marrom">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-fouganza.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">EQUITAÇão</h3>
                      <p>Equipamentos e vestuário atrativos, inteligentes e com o melhor valor agregado para o cavalheiro e o cavalo, que
                        vão assegurar a perfeita harmonia no esporte.
                        <a href="http://www.decathlon.com.br/fouganza" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-domyos.png" alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">FITNESS</h3>
                      <p>Inovação para despertar em todos o desejo de praticar fitness oferecendo roupas, acessórios, calçados, aparelhos
                        e equipamentos.
                        <a href="http://www.decathlon.com.br/domyos" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item azul">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-caperlan.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">PESCA ESPORTIVA</h3>
                      <p>A Caperlan oferece equipamentos, roupas e acessórios para pesca em água doce e salgada, pesca fly e pesca noturna,
                        incluindo iscas, linhas, chumbos, bóias e anzóis.
                        <a href="http://www.decathlon.com.br/caperlan" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item esverdeado">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-btwin.png" alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">CICLISMO</h3>
                      <p>Líder mundial com mais de 2,7 milhões de bikes vendidas em todo o mundo, além de roupas, acessórios, equipamentos,
                        peças de reposição e ferramentas para: MTB, speed, lazer, mobilidade urbana e infantil.
                        <a href="http://www.decathlon.com.br/btwin"
                         target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item azul">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-artengo.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">ESPORTE DE RAQUETES</h3>
                      <p>A Artengo se dedica ao tênis, badminton, tênis de mesa, squash, padel e tênis de praia, frontenis e frescobol.
                        <a href="http://www.decathlon.com.br/artengo" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item azul">
                <div class="container container--dentro">
                  <div class="logo">
                    <a class="nav left" href="#"></a>
                    <img src="/arquivos/lps-carrosel-marcas-logo-aptonia.png"
                     alt="" />
                    <a class="nav right" href="#"></a>
                  </div>
                  <div class="texto">
                    <div class="interior">
                      <h3 class="subtitulo">NUTRIÇÃO ESPORTIVA E CUIDADOS</h3>
                      <p>A Aptonia desenvolve produtos alimentícios e de cuidados com o corpo que garantem: hidratação, reposição de energia,
                        suplementação, sustentação, recuperação e proteção.
                        <a href="http://www.decathlon.com.br/aptonia" target="_blank">Saiba mais</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="relatorio" id="relatorio">
          <div class="container container--dentro">
            <div class="box-seta">
              <h2 class="titulo">
                <strong>Relatório Anual
                  <br /> de sustentabilidade</strong>
              </h2>
              <p>Na Decathlon, somos comprometidos com o desenvolvimento sustentável. Nossa prioridade é criar valor no longo-prazo
                para nossos colaboradores, clientes, parceiros, cidadãos e acionistas. Nós antecipamos os desafios da sociedade e
                direcionamos nossas ações para um desenvolvimento sustentável. É também nossa responsabilidade garantir a segurança
                dos nossos colaboradores e clientes ao redor do mundo. </p>
              <a href="http://sustainability.decathlon.com/" class="cta" target="_blank">Saiba Mais</a>
            </div>
            <img class="img-responsiva" src="/arquivos/lps-img-relatorio-anual.jpg"
             alt="" />
          </div>
        </section>
        <section class="fundacao" id="fundacao">
          <div class="container container--dentro">
            <img class="img-responsiva" src="/arquivos/lps-img-fundacao.jpg"
             alt="" />
            <div class="box-seta">
              <h2 class="titulo">
                <strong>A Fundação
                  <br /> Decathlon</strong>
              </h2>
              <p>A Decathlon atua com responsabilidade social em todos os países onde esta presente. Desde 2005, a Fundação Decathlon
                no Brasil tem ajudado pessoas desfavorecidas, trabalhando sua integração econômica, social e cultural, por meio da
                atividade esportiva. Ao todo, no mundo, são 221 projetos apoiados e 114 mil pessoas beneficiadas. No Brasil, são
                6 projetos e 5 mil beneficiados.</p>
              <a href="http://corporate.decathlon.com/pt-br/nossos-compromissos/a-fundacao-decathlon/" target="_blank" class="cta">Saiba Mais</a>
            </div>
          </div>
        </section>
        <section class="numeros" id="numeros">
          <div class="container container--dentro">
            <div class="center">
              <h2 class="titulo">
                <strong>Nossos números</strong>
              </h2>
            </div>
            <ul class="lista um-terco">
              <li class="subtitulo">No mundo</li>
              <li>+ de 1300 lojas físicas</li>
              <li>2 mil a 12 mil m² de venda por loja</li>
              <li>+ de 40 países</li>
              <li>+ de 35 mil produtos expostos</li>
              <li>65 modalidades esportivas</li>
              <li>+ de 3 mil protótipos por ano</li>
              <li>+ de 82 mil colaboradores</li>
              <li>+ de 80 nacionalidades</li>
              <li>+ de 530 engenheiros</li>
              <li>+ de 150 designers</li>
              <li>+ de 50 pesquisadores</li>
              <li>+ de 800 mil horas de treinamento por ano</li>
              <li>Recorde de 23 novas patentes em 2013</li>
            </ul>
            <ul class="lista um-terco">
              <li class="subtitulo">produção internacional</li>
              <li>23 países de produção</li>
              <li>+ de 2.700 colaboradores</li>
              <li class="subtitulo">distribuição e logística</li>
              <li>5 mil colaboradores</li>
              <li>610 milhões de itens enviados para as lojas a cada ano</li>
              <li>35 armazéns</li>
              <li>50 mil contêineres exportados por ano</li>
            </ul>
            <ul class="lista um-terco">
              <li class="subtitulo">fundação decathlon</li>
              <li>221 projetos apoiados</li>
              <li>114 mil pessoas beneficiados</li>
              <li class="subtitulo">no brasil</li>
              <li>25 lojas físicas</li>
              <li>1 loja virtual: www.decathlon.com.br</li>
              <li>7 mil artigos esportivos</li>
              <li>65 modalidades esportivas</li>
              <li>+ de 1800 colaboradores</li>
              <li class="subtitulo">produção brasileira</li>
              <li>+ de 2 milhões de produtos por ano</li>
              <li>500 colaboradores indiretos</li>
            </ul>
          </div>
        </section>
        <section class="avaliacao" id="avaliacao">
          <div class="container container--dentro">
            <div class="center">
              <h2 class="titulo secundario padrao">
                <strong>avaliações</strong>
              </h2>
            </div>
            <div class="metade">
              <a href="" class="selos">
                <img class="img-responsiva" src="/arquivos/lps-selos-selo-footer-love-mondays.png"
                 alt="" />
              </a>
              <a href="" class="selos">
                <img class="img-responsiva" src="/arquivos/lps-selos-selo-footer-gptw.png"
                 alt="" />
              </a>
              <div class="social">
                <a href="https://www.facebook.com/decathlonbrasil/" target="_blank" class="icon facebook"></a>
                <a href="https://www.linkedin.com/company-beta/16207785/" target="_blank" class="icon linkedin"></a>
                <a href="https://www.youtube.com/user/mundodecathlon" target="_blank" class="icon youtube"></a>
              </div>
            </div>
            <div class="metade avaliacao__colaborador pp-esconde">
              <div class="avaliacao__colaborador__img">
                <p>satisfação dos nossos colaboradores</p>
                <a class="colaborador-view" href="/arquivos/lps-img-colaborador-full-2.png">
                  <img src="/arquivos/lps-img-colaborador-vencedor.png"
                   alt="" />
                </a>
              </div>
              <div class="avaliacao__colaborador__box">
                <img class="img-responsiva" src="/arquivos/lps-img-stars.png"
                 alt="" />
                <strong class="avaliacao__colaborador__titulo">Colaborador Vencedor</strong>
                <div class="avaliacao__colaborador__info">
                  <p>
                    Nossos colaboradores avaliam anualmente como é trabalhar na Decathlon, confira o último resultado da pesquisa:
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- #primary -->

    </div>
    <!-- #content -->

        <!-- INICIO - Subtemplate Footer -->
        <vtex:template id="0-dcs-web-footer" />
        <!-- FIM - Subtemplate Footer -->

        <!-- INICIO - Suport content -->
        <div class="suport-content"></div>
        <!-- FIM - Suport content -->

        <!-- INICIO - Scripts e Subtemplate Scripts -->
        <vtex:template id="0-dcs-web-scripts" />
        <!-- FIM - Subtemplate Scripts -->
  </main>

  <script type='text/javascript' src='/arquivos/lps-vendors.min.js?ver=20161019'></script>
  <script type="text/javascript" src="/arquivos/lps-jquery.bxslider.min.js"></script>
  <script type="text/javascript" src='/arquivos/lps-wp-embed.min.js?ver=4.8.6'></script>
  <script type="text/javascript" src="/arquivos/lps-venon.min.js"></script>
  <script type="text/javascript" src="/arquivos/lps-functions.js"></script>
    </body>
</html>
