<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
lang="pt-br">

<head>
<vtex:metaTags/>
<meta name="controller" content="Institucional" />

<!-- INICIO - Subtemplate Metatags -->
<vtex:template id="0-dcs-web-metatags" />
<!-- FIM - Subtemplate Metatags -->

<!-- INICIO - Style e Subtemplate Styles -->
<vtex:template id="0-dcs-web-styles" />
<!-- FIM - Subtemplate Styles -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
<!-- INICIO - Subtemplate Header -->
<vtex:template id="0-dcs-web-header" />
<!-- FIM - Subtemplate Header -->

  <!-- INICIO - Miolo da página -->
  <main class="main" id="main">

  <div class="landing-page__header">
    <div class="landing-page__header-mask">
      <svg viewBox="0 0 2560 345" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon fill="#E96B00" points="0 0 0 344 2560 0"></polygon>
          <polygon fill="#FFFFFF" points="0 0 0 330 2560 0"></polygon>
        </svg>
    </div>
    <div class="av-container">
        <div class="av-row">
            <div class="av-col-xs-24">
                <div class="landing-page__text">
                  <h1>
                    <strong>Retire na loja</strong> com frete grátis
                  </h1>
                </div> <!-- .landing-page__text -->
            </div> <!-- .av-col-xs-24 -->
        </div> <!-- .av-row -->
    </div> <!-- .av-container -->
  </div> <!-- .landing-page__header -->

  <section class="landing-page__content">
    <div class="av-container">

      <div class="av-row">
        <div class="av-col-xs-24">

          <div class="landing-page__content-badge"></div> <!-- .landing-page__content-badge -->
          <div class="landing-page__content-badge-title landing-page__content-title">
            <h2> Compre quando quiser e como quiser </h2>
            <h3> <small> Retire na loja de sua preferência em até <span>x</span> dias com frete grátis!</small> </h3>
          </div> <!-- .landing-page__content-title -->
          <div class="landing-page__content-map">
            <div class="landing-page__content-map-title landing-page__content-title"> Confira a loja mais próxima </div>
            <div class="landing-page__content-map-frame">
              <vtex:contentPlaceHolder id="Mapa Retire na loja" />
            </div>
          </div> <!-- .landing-page__content-map -->
        </div>
      </div>

      <div class="av-row">
        <div class="av-col-xs-24">
          <div class="landing-page__content-benefits">
            <h2 class="landing-page__content-benefits-title landing-page__content-title"> Confira os benefícios de utilizar o retire na loja </h2>
            <ul class="landing-page__content-benefits-list">
              <li class="landing-page__content-benefits-items">

                <div class="benefits-horario-flexivel-icon"></div>

                <div class="landing_page__content-benefits--content">
                  <h3>Horário <br/> flexível</h3>
                  <small> Retire seu pedido no período de abertura de sua loja </small>
                </div>
              </li>
              <li class="landing-page__content-benefits-items">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70px" height="64px">
                  <text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" transform="matrix( 1.67731788370904, 0, 0, 1.67731788370904,-0.26153217525973, 67.2236755578898)" font-size="41.733px"><tspan font-size="41.733px" font-family="DecathlonCube" fill="#FFFFFF">&#57424;</tspan></text>
                </svg>

                <div class="landing_page__content-benefits--content">
                  <h3>Experimente, troque <br/> ou devolva</h3>
                  <small> A qualquer momento, incluso no servicço de Retire na Loja </small>
                </div>
              </li>
              <li class="landing-page__content-benefits-items">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70px" height="58px">
                  <text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" transform="matrix( 1.67731788370904, 0, 0, 1.67731788370904,-0.13070138033049, 60.7776259658095)" font-size="41.733px"><tspan font-size="41.733px" font-family="DecathlonCube" fill="#FFFFFF">&#57346;</tspan></text>
                </svg>

                <div class="landing_page__content-benefits--content">
                  <h3>Toda a gama<br/> disponível</h3>
                  <small> Todos os produtos disponíveis através do decathlon.com.br </small>
                </div>
              </li>
              <li class="landing-page__content-benefits-items">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="69px" height="61px">
                  <text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" transform="matrix( 1.67731788370904, 0, 0, 1.67731788370904,-0.26153217525962, 63.9021083361818)" font-size="41.733px"><tspan font-size="41.733px" font-family="DecathlonCube" fill="#FFFFFF">&#57431;</tspan></text>
                </svg>

                <div class="landing_page__content-benefits--content">
                  <h3>Retire na loja <br/>com frete grátis</h3>
                  <small> Todas as lojas Decathlon à sua disposição </small>
                </div>
              </li>
            </ul>
            <a class="button button--medium button--yellow" href="/lojas/">
              <span class="txt-mobile">Ver todas as lojas </span>
              <span class="txt-desk">Descobrir todas as lojas e horários de funcionamento </span>
            </a>
          </div> <!-- .landing-page__content-benefits -->
        </div>
      </div>

      <div class="av-row">
        <div class="av-col-xs-24">
          <div class="landing-page__content-steps">
            <div class="landing-page__content-steps-title landing-page__content-title"> Confira o passo a passo e saiba como fazer! </div>
            <ul class="landing-page__content-stpes-list">
              <li class="landing-page__content-steps-items escolha-produtos">
                <div class="icon icon-retire-na-loja-escolha-produtos"></div>
                <div class="landing_page__content-steps--content">
                  <span>1</span>
                  <p>Escolha seus produtos <br/>e adicione no carrinho</p>
                </div>
              </li>
              <li class="landing-page__content-steps-items escolha-loja">
                <div class="icon icon-retire-na-loja-escolha-loja"></div>
                <div class="landing_page__content-steps--content">
                  <span>2</span>
                  <p>Escolha uma loja<br/> Decathlon e finalize<br/> sua compra</p>
                </div>
              </li>
              <li class="landing-page__content-steps-items aguarde-email">
                <div class="icon icon-retire-na-loja-aguarde-email"></div>
                <div class="landing_page__content-steps--content">
                  <span>3</span>
                  <p>Aguarde o e-mail<br/> de confirmação <br/> de entrega</p>
                </div>
              </li>
              <li class="landing-page__content-steps-items retire-pedido">
                <div class="icon icon-retire-na-loja-retire-pedido"></div>
                <div class="landing_page__content-steps--content">
                  <span>4</span>
                  <p>Reire seu produto <br/>com frete grátis</p>
                </div>
              </li>
            </ul>
          </div> <!-- .landing-page__content-steps -->
        </div>
      </div>

    </div>
  </section> <!-- .landing-page__content-steps -->

  <div class="landing-page__video">

      <div class="landing-page__video-mask">
        <svg viewBox="0 0 1920 350" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon fill="#0082c3" points="0 0 0 350 1940 0"></polygon>
        </svg>
      </div>

      <vtex:contentPlaceHolder id="Background Retire na loja" />
      <div class="video-frame embed-responsive embed-responsive-4by3">
        <vtex:contentPlaceHolder id="Vídeo Retire na loja" />
      </div>
  </div> <!-- .landing-page__video -->

  </main>
  <!-- FIM - Miolo da página -->

<!-- INICIO - Subtemplate Generico -->
<vtex:template id="0-dcs-web-generico" />
<!-- FIM - Subtemplate Generico -->

<!-- INICIO - Subtemplate Footer -->
<vtex:template id="0-dcs-web-footer" />
<!-- FIM - Subtemplate Footer -->

<!-- INICIO - Suport content -->
<div class="suport-content"></div>
<!-- FIM - Suport content -->

<!-- INICIO - Scripts e Subtemplate Scripts -->
<vtex:template id="0-dcs-web-scripts" />
<!-- FIM - Subtemplate Scripts -->
</body>

</html>
