<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags />
    <title></title>
    <meta name="description" content="" />
    <meta name="controller" content="LpOlaian" />

    <!-- START - Subtemplate Metatags -->
    <vtex:template id="0-dcs-web-metatags" />
    <!-- END - Subtemplate Metatags -->

    <!-- START - Style e Subtemplate Styles -->
    <!--<vtex:template id="0-dcs-web-styles" />-->
    <link rel="stylesheet" href="/arquivos/0-dcs-web-lp_olaian.css" />
    <!-- END - Subtemplate Styles -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- START - Subtemplate Header -->
    <vtex:template id="0-dcs-web-header-mobile" />
    <!-- END - Subtemplate Header -->

    <!-- START - Miolo da página -->
    <main class="main" id="main">

        <div class="breadcrumb">
            <a href="" class=""><i class="dkti-arrow2-left"></i> Início</a>
        </div>

        <section class="intro">

            <!-- Content Place Holder: Banner SubTitle -->
            <vtex:contentPlaceHolder id="textTitle" />
            <!-- /Content Place Holder: Banner SubTitle -->

        </section>

        <section class="category-list">

            <div class="box box--large">

                <!-- Content Place Holder: First Box Large -->
                <vtex:contentPlaceHolder id="First-Box-Large" />
                <!-- /Content Place Holder: First Box Large -->

            </div>

            <div class="box box--large">

                <!-- Content Place Holder: Second Box Large -->
                <vtex:contentPlaceHolder id="Second-Box-Large" />
                <!-- /Content Place Holder: Second Box Large -->

            </div>

        </section>

        <section class="all-products">

            <div class="btn-all-products">

                <!-- Content Place Holder: Button All Products -->
                <vtex:contentPlaceHolder id="Button-All-Products" />
                <!-- /Content Place Holder: Button All Products -->

            </div>

        </section>

        <section class="view-video">

            <div class="title-video">
                <h3>
                    <!-- Content Place Holder: Box Title Video -->
                    <vtex:contentPlaceHolder id="Box-Title-Video" />
                    <!-- /Content Place Holder: Box Title Video -->
                </h3>
            </div>

            <div class="play-video">

                <!-- Content Place Holder: Box Video -->
                <vtex:contentPlaceHolder id="Box-Video" />
                <!-- /Content Place Holder: Box Video -->

            </div>

        </section>

        <div class="seo-text">
            <!-- Content Place Holder: Text SEO -->
            <vtex:contentPlaceHolder id="TextSEO" />
            <!-- Content Place Holder: Text SEO -->
        </div>

    </main>
    <!-- END - Miolo da página -->

    <!-- START - Subtemplate Footer -->
    <vtex:template id="0-dcs-web-footer" />
    <!-- END - Subtemplate Footer -->

    <!-- START - Scripts e Subtemplate Scripts -->
    <vtex:template id="0-dcs-web-common-script" />
    <!-- END - Subtemplate Scripts -->

    <!-- START - Scripts e Subtemplate Scripts -->
    <script type="text/javascript" src="/arquivos/0-dcs-web-lp_olaian-script.js"></script>
    <!-- END - Subtemplate Scripts -->
</body>

</html>