<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <vtex:metaTags/>
  <meta name="controller" content="Kiprun" />

  <!-- START - Subtemplate Metatags -->
  <vtex:template id="0-dcs-web-metatags" />
  <!-- END - Subtemplate Metatags -->

  <!-- START - Style e Subtemplate Styles -->
  <vtex:template id="0-dcs-web-styles" />
  <!-- END - Subtemplate Styles -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <!-- START - Subtemplate Header -->
  <vtex:template id="0-dcs-web-header-mobile" />
  <!-- END - Subtemplate Header -->

  <!-- START - Miolo da página -->
  <main class="main" id="main">
    <section class="section-kiprun-title">
      <div class="av-container">
        <div class="av-row">
          <div class="av-col-xs-24">
            <h1 class="kiprun-title">Kiprun</h1>
            <h2 class="kiprun-subtitle">From racer to pacer</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="section-kiprun-content">
      <div class="av-tab-wrap">
        <div class="av-container">
          <div class="av-row">
            <div class="av-col-xs-24">
              <div class="av-tab__nav-wrap">
                <div class="av-tab__nav av-tab__nav--gender">
                    <a href="#" class="av-tab__nav-link av-tab__nav-link--gender" title="Masculino" data-tab-target="0">Masculino</a>
                    <a href="#" class="av-tab__nav-link av-tab__nav-link--gender" title="Feminino" data-tab-target="1">Feminino</a>
                </div>
              </div>
            </div>
          </div>

          <div class="av-tab__content av-tab__content--gender">
            <!-- START: Gender Tab - Masculino -->
            <div class="av-tab" data-tab="0">
              <div class="kipun-content-mobile">
                <div class="av-row">
                  <div class="av-col-xs-24">
                    <div class="av-tab__nav av-tab__nav--type">

                      <div class="kiprun-tab-mobile">
                        <a href="#" class="av-tab__nav-link av-tab__nav-link--type av-tab__nav-link--active" title="Kiprun Long">
                          <img class="kiprun-nav__img" src="/arquivos/kiprun-long-masculino-nav.png" />

                          <span class="kiprun-nav__text">Kiprun Long</span>
                        </a>

                        <div class="av-tab__content av-tab__content--type">
                          <!-- START: Type Tab - Long -->
                          <div class="av-tab av-tab--active">
                            <div class="kiprun-tab__column">
                              <div class="kiprun-fragmented">
                                <h3 class="kiprun-fragmented__title">Let's Kiprun</h3>

                                <img class="kiprun-fragmented__img" src="/arquivos/kiprun-long-masculino-fragmented.png" />
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <h4 class="kiprun-desc__title">AMORTECIMENTO E ESTABILIDADE PARA CORRER MAIS LONGE</h4>
                              <p class="kiprun-desc__text">O Kiprun Long conta com as tecnologias exclusivas K-Ring, um anel em EVA no calcanhar que se expande proporcionando excelente amortecimento e o Arkstab, uma placa rígida no centro da sola que garante máxima estabilidade.</p>

                              <div class="kiprun-select">
                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-masculino-select.png" />

                                  <a href="/tenis-masculino-de-corrida-kiprun-long-kalenji-408/p" class="button button--small button--yellow" title="Ver Masculino">Ver Masculino</a>
                                </div>

                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-feminino-select.png" />

                                  <a href="/tenis-feminino-de-corrida-kiprun-long-kalenji/p" class="button button--small button--yellow" title="Ver Feminino">Ver Feminino</a>
                                </div>
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <div class="kiprun-video">
                                <iframe width="354" height="200" src="https://www.youtube.com/embed/JdMYOq2JTgc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
                              </div>
                            </div>
                          </div>
                          <!-- END: Type Tab - Long -->
                        </div>
                      </div>

                      <div class="kiprun-tab-mobile">
                        <a href="#" class="av-tab__nav-link av-tab__nav-link--type av-tab__nav-link--active" title="Kiprun Fast">
                          <img class="kiprun-nav__img" src="/arquivos/kiprun-fast-masculino-nav.png" />

                          <span class="kiprun-nav__text">Kiprun Fast</span>
                        </a>

                        <div class="av-tab__content av-tab__content--type">
                          <!-- START: Type Tab - Fast -->
                          <div class="av-tab av-tab--active">
                            <div class="kiprun-tab__column">
                              <div class="kiprun-fragmented">
                                <h3 class="kiprun-fragmented__title">Let's Kiprun</h3>

                                <img class="kiprun-fragmented__img" src="/arquivos/kiprun-long-masculino-fragmented.png" />
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <h4 class="kiprun-desc__title">Dinamismo nas passadas para correr mais rápido!</h4>
                              <p class="kiprun-desc__text">O Kiprun Fast conta com a tecnologia Up’bar, uma placa em TPU localizada desde o centro até a região frontal da sola que garante melhor retorno de energia, favorecendo assim a impulsão nas passadas.</p>

                              <div class="kiprun-select">
                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-masculino-select.png" />

                                  <a href="/tenis-masculino-de-corrida-kiprun-fast-kalenji/p" class="button button--small button--yellow" title="Ver Masculino">Ver Masculino</a>
                                </div>

                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-feminino-select.png" />

                                  <a href="/kiprun-fast-f-corail-jaune-18/p" class="button button--small button--yellow" title="Ver Feminino">Ver Feminino</a>
                                </div>
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <div class="kiprun-video">
                                <iframe width="354" height="200" src="https://www.youtube.com/embed/FRdfVGedzkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
                              </div>
                            </div>
                          </div>
                          <!-- END: Type Tab - Fast -->
                        </div>
                      </div>

                      <div class="kiprun-tab-mobile">
                        <a href="#" class="av-tab__nav-link av-tab__nav-link--type av-tab__nav-link--active" title="Kiprun Race">
                          <img class="kiprun-nav__img" src="/arquivos/kiprun-race-masculino-nav.png" />

                          <span class="kiprun-nav__text">Kiprun Race</span>
                        </a>

                        <div class="av-tab__content av-tab__content--type">
                          <!-- START: Type Tab - Race -->
                          <div class="av-tab av-tab--active">
                            <div class="kiprun-tab__column">
                              <div class="kiprun-fragmented">
                                <h3 class="kiprun-fragmented__title">Let's Kiprun</h3>

                                <img class="kiprun-fragmented__img" src="/arquivos/kiprun-long-masculino-fragmented.png" />
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <h4 class="kiprun-desc__title">Ultra leveza para desafiar os seus limites!</h4>
                              <p class="kiprun-desc__text">O Kiprun Race foi desenvolvido especialmente para os corredores que buscam o máximo em performance. Com apenas 200g e a tecnologia Up’bar para melhor impulsão, esse é o tênis ideal para que você bata seus recordes!</p>

                              <div class="kiprun-select">
                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-masculino-select.png" />

                                  <a href="/kiprun-race-m-black-yellow-cn/p" class="button button--small button--yellow" title="Ver Masculino">Ver Masculino</a>
                                </div>

                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-feminino-select.png" />

                                  <a href="/kiprun-race-femme-f-violette-jaune-18/p" class="button button--small button--yellow" title="Ver Feminino">Ver Feminino</a>
                                </div>
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <div class="kiprun-video">
                                <iframe width="354" height="200" src="https://www.youtube.com/embed/fSH3smZuijk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
                              </div>
                            </div>
                          </div>
                          <!-- END: Type Tab - Race -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: Gender Tab - Masculino -->

            <!-- START: Gender Tab - Feminino -->
            <div class="av-tab" data-tab="1">
              <div class="kipun-content-mobile">
                <div class="av-row">
                  <div class="av-col-xs-24">
                    <div class="av-tab__nav av-tab__nav--type">

                      <div class="kiprun-tab-mobile">
                        <a href="#" class="av-tab__nav-link av-tab__nav-link--type av-tab__nav-link--active" title="Kiprun Long">
                          <img class="kiprun-nav__img" src="/arquivos/kiprun-long-masculino-nav.png" />

                          <span class="kiprun-nav__text">Kiprun Long</span>
                        </a>

                        <div class="av-tab__content av-tab__content--type">
                          <!-- START: Type Tab - Long -->
                          <div class="av-tab av-tab--active">
                            <div class="kiprun-tab__column">
                              <div class="kiprun-fragmented">
                                <h3 class="kiprun-fragmented__title">Let's Kiprun</h3>

                                <img class="kiprun-fragmented__img" src="/arquivos/kiprun-long-masculino-fragmented.png" />
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <h4 class="kiprun-desc__title">AMORTECIMENTO E ESTABILIDADE PARA CORRER MAIS LONGE</h4>
                              <p class="kiprun-desc__text">O Kiprun Long conta com as tecnologias exclusivas K-Ring, um anel em EVA no calcanhar que se expande proporcionando excelente amortecimento e o Arkstab, uma placa rígida no centro da sola que garante máxima estabilidade.</p>

                              <div class="kiprun-select">
                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-masculino-select.png" />

                                  <a href="/tenis-masculino-de-corrida-kiprun-long-kalenji-408/p" class="button button--small button--yellow" title="Ver Masculino">Ver Masculino</a>
                                </div>

                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-feminino-select.png" />

                                  <a href="/tenis-feminino-de-corrida-kiprun-long-kalenji/p" class="button button--small button--yellow" title="Ver Feminino">Ver Feminino</a>
                                </div>
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <div class="kiprun-video">
                                <iframe width="354" height="200" src="https://www.youtube.com/embed/JdMYOq2JTgc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
                              </div>
                            </div>
                          </div>
                          <!-- END: Type Tab - Long -->
                        </div>
                      </div>

                      <div class="kiprun-tab-mobile">
                        <a href="#" class="av-tab__nav-link av-tab__nav-link--type av-tab__nav-link--active" title="Kiprun Fast">
                          <img class="kiprun-nav__img" src="/arquivos/kiprun-fast-masculino-nav.png" />

                          <span class="kiprun-nav__text">Kiprun Fast</span>
                        </a>

                        <div class="av-tab__content av-tab__content--type">
                          <!-- START: Type Tab - Fast -->
                          <div class="av-tab av-tab--active">
                            <div class="kiprun-tab__column">
                              <div class="kiprun-fragmented">
                                <h3 class="kiprun-fragmented__title">Let's Kiprun</h3>

                                <img class="kiprun-fragmented__img" src="/arquivos/kiprun-long-masculino-fragmented.png" />
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <h4 class="kiprun-desc__title">Dinamismo nas passadas para correr mais rápido!</h4>
                              <p class="kiprun-desc__text">O Kiprun Fast conta com a tecnologia Up’bar, uma placa em TPU localizada desde o centro até a região frontal da sola que garante melhor retorno de energia, favorecendo assim a impulsão nas passadas.</p>

                              <div class="kiprun-select">
                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-masculino-select.png" />

                                  <a href="/tenis-masculino-de-corrida-kiprun-fast-kalenji/p" class="button button--small button--yellow" title="Ver Masculino">Ver Masculino</a>
                                </div>

                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-feminino-select.png" />

                                  <a href="/kiprun-fast-f-corail-jaune-18/p" class="button button--small button--yellow" title="Ver Feminino">Ver Feminino</a>
                                </div>
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <div class="kiprun-video">
                                <iframe width="354" height="200" src="https://www.youtube.com/embed/FRdfVGedzkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
                              </div>
                            </div>
                          </div>
                          <!-- END: Type Tab - Fast -->
                        </div>
                      </div>

                      <div class="kiprun-tab-mobile">
                        <a href="#" class="av-tab__nav-link av-tab__nav-link--type av-tab__nav-link--active" title="Kiprun Race">
                          <img class="kiprun-nav__img" src="/arquivos/kiprun-race-masculino-nav.png" />

                          <span class="kiprun-nav__text">Kiprun Race</span>
                        </a>

                        <div class="av-tab__content av-tab__content--type">
                          <!-- START: Type Tab - Race -->
                          <div class="av-tab av-tab--active">
                            <div class="kiprun-tab__column">
                              <div class="kiprun-fragmented">
                                <h3 class="kiprun-fragmented__title">Let's Kiprun</h3>

                                <img class="kiprun-fragmented__img" src="/arquivos/kiprun-long-masculino-fragmented.png" />
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <h4 class="kiprun-desc__title">Ultra leveza para desafiar os seus limites!</h4>
                              <p class="kiprun-desc__text">O Kiprun Race foi desenvolvido especialmente para os corredores que buscam o máximo em performance. Com apenas 200g e a tecnologia Up’bar para melhor impulsão, esse é o tênis ideal para que você bata seus recordes!</p>

                              <div class="kiprun-select">
                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-masculino-select.png" />

                                  <a href="/kiprun-race-m-black-yellow-cn/p" class="button button--small button--yellow" title="Ver Masculino">Ver Masculino</a>
                                </div>

                                <div class="kiprun-select__item">
                                  <img class="kiprun-select__img" src="/arquivos/kiprun-long-feminino-select.png" />

                                  <a href="/kiprun-race-femme-f-violette-jaune-18/p" class="button button--small button--yellow" title="Ver Feminino">Ver Feminino</a>
                                </div>
                              </div>
                            </div>

                            <div class="kiprun-tab__column">
                              <div class="kiprun-video">
                                <iframe width="354" height="200" src="https://www.youtube.com/embed/fSH3smZuijk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
                              </div>
                            </div>
                          </div>
                          <!-- END: Type Tab - Race -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: Gender Tab - Feminino -->
          </div>
        </div>
      </div>
    </section>

    <section class="section-kiprun-cta">
      <div class="av-container">
        <div class="av-row">
          <div class="av-col-xs-24">
            <div class="kiprun-cta__content">
              <p class="kiprun-cta__text">Conheça toda a linha <br/>
              <b>Kiprun</b></p>

              <a href="/lancamento-corrida-performance" class="button button--large button--blue">Ver todos</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- END - Miolo da página -->

  <!-- START - Subtemplate Generico -->
  <vtex:template id="0-dcs-web-generico" />
  <!-- END - Subtemplate Generico -->

  <!-- START - Subtemplate Footer -->
  <vtex:template id="0-dcs-web-footer" />
  <!-- END - Subtemplate Footer -->

  <!-- START - Scripts e Subtemplate Scripts -->
  <vtex:template id="0-dcs-web-scripts" />
  <!-- END - Subtemplate Scripts -->
</body>

</html>
