@import "compass/utilities/sprites";

$sprite-store-detail-spacing: 10px;
$sprite-store-detail-sprite-base-class: ".sprite-store-detail";
$sprite-store-detail-sprite-dimensions: true;
$sprite-store-detail-layout: smart;

@import "sprite-store-detail/*.png";

@include all-sprite-store-detail-sprites;
