// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$base-name: 'base';
$base-x: 259px;
$base-y: 175px;
$base-offset-x: -259px;
$base-offset-y: -175px;
$base-width: 1px;
$base-height: 1px;
$base-total-width: 263px;
$base-total-height: 218px;
$base-image: '../images/sprite-tamanhos.png';
$base: (259px, 175px, -259px, -175px, 1px, 1px, 263px, 218px, '../images/sprite-tamanhos.png', 'base', );
$tamanho-calcado-bebe-over-name: 'tamanho-calcado-bebe-over';
$tamanho-calcado-bebe-over-x: 226px;
$tamanho-calcado-bebe-over-y: 175px;
$tamanho-calcado-bebe-over-offset-x: -226px;
$tamanho-calcado-bebe-over-offset-y: -175px;
$tamanho-calcado-bebe-over-width: 33px;
$tamanho-calcado-bebe-over-height: 21px;
$tamanho-calcado-bebe-over-total-width: 263px;
$tamanho-calcado-bebe-over-total-height: 218px;
$tamanho-calcado-bebe-over-image: '../images/sprite-tamanhos.png';
$tamanho-calcado-bebe-over: (226px, 175px, -226px, -175px, 33px, 21px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-calcado-bebe-over', );
$tamanho-calcado-bebe-name: 'tamanho-calcado-bebe';
$tamanho-calcado-bebe-x: 132px;
$tamanho-calcado-bebe-y: 197px;
$tamanho-calcado-bebe-offset-x: -132px;
$tamanho-calcado-bebe-offset-y: -197px;
$tamanho-calcado-bebe-width: 33px;
$tamanho-calcado-bebe-height: 21px;
$tamanho-calcado-bebe-total-width: 263px;
$tamanho-calcado-bebe-total-height: 218px;
$tamanho-calcado-bebe-image: '../images/sprite-tamanhos.png';
$tamanho-calcado-bebe: (132px, 197px, -132px, -197px, 33px, 21px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-calcado-bebe', );
$tamanho-calcado-crianca-over-name: 'tamanho-calcado-crianca-over';
$tamanho-calcado-crianca-over-x: 99px;
$tamanho-calcado-crianca-over-y: 197px;
$tamanho-calcado-crianca-over-offset-x: -99px;
$tamanho-calcado-crianca-over-offset-y: -197px;
$tamanho-calcado-crianca-over-width: 33px;
$tamanho-calcado-crianca-over-height: 21px;
$tamanho-calcado-crianca-over-total-width: 263px;
$tamanho-calcado-crianca-over-total-height: 218px;
$tamanho-calcado-crianca-over-image: '../images/sprite-tamanhos.png';
$tamanho-calcado-crianca-over: (99px, 197px, -99px, -197px, 33px, 21px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-calcado-crianca-over', );
$tamanho-calcado-crianca-name: 'tamanho-calcado-crianca';
$tamanho-calcado-crianca-x: 66px;
$tamanho-calcado-crianca-y: 197px;
$tamanho-calcado-crianca-offset-x: -66px;
$tamanho-calcado-crianca-offset-y: -197px;
$tamanho-calcado-crianca-width: 33px;
$tamanho-calcado-crianca-height: 21px;
$tamanho-calcado-crianca-total-width: 263px;
$tamanho-calcado-crianca-total-height: 218px;
$tamanho-calcado-crianca-image: '../images/sprite-tamanhos.png';
$tamanho-calcado-crianca: (66px, 197px, -66px, -197px, 33px, 21px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-calcado-crianca', );
$tamanho-calcado-homem-over-name: 'tamanho-calcado-homem-over';
$tamanho-calcado-homem-over-x: 33px;
$tamanho-calcado-homem-over-y: 197px;
$tamanho-calcado-homem-over-offset-x: -33px;
$tamanho-calcado-homem-over-offset-y: -197px;
$tamanho-calcado-homem-over-width: 33px;
$tamanho-calcado-homem-over-height: 21px;
$tamanho-calcado-homem-over-total-width: 263px;
$tamanho-calcado-homem-over-total-height: 218px;
$tamanho-calcado-homem-over-image: '../images/sprite-tamanhos.png';
$tamanho-calcado-homem-over: (33px, 197px, -33px, -197px, 33px, 21px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-calcado-homem-over', );
$tamanho-calcado-homem-name: 'tamanho-calcado-homem';
$tamanho-calcado-homem-x: 0px;
$tamanho-calcado-homem-y: 197px;
$tamanho-calcado-homem-offset-x: 0px;
$tamanho-calcado-homem-offset-y: -197px;
$tamanho-calcado-homem-width: 33px;
$tamanho-calcado-homem-height: 21px;
$tamanho-calcado-homem-total-width: 263px;
$tamanho-calcado-homem-total-height: 218px;
$tamanho-calcado-homem-image: '../images/sprite-tamanhos.png';
$tamanho-calcado-homem: (0px, 197px, 0px, -197px, 33px, 21px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-calcado-homem', );
$tamanho-calcado-mulher-over-name: 'tamanho-calcado-mulher-over';
$tamanho-calcado-mulher-over-x: 152px;
$tamanho-calcado-mulher-over-y: 175px;
$tamanho-calcado-mulher-over-offset-x: -152px;
$tamanho-calcado-mulher-over-offset-y: -175px;
$tamanho-calcado-mulher-over-width: 33px;
$tamanho-calcado-mulher-over-height: 21px;
$tamanho-calcado-mulher-over-total-width: 263px;
$tamanho-calcado-mulher-over-total-height: 218px;
$tamanho-calcado-mulher-over-image: '../images/sprite-tamanhos.png';
$tamanho-calcado-mulher-over: (152px, 175px, -152px, -175px, 33px, 21px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-calcado-mulher-over', );
$tamanho-calcado-mulher-name: 'tamanho-calcado-mulher';
$tamanho-calcado-mulher-x: 189px;
$tamanho-calcado-mulher-y: 175px;
$tamanho-calcado-mulher-offset-x: -189px;
$tamanho-calcado-mulher-offset-y: -175px;
$tamanho-calcado-mulher-width: 33px;
$tamanho-calcado-mulher-height: 21px;
$tamanho-calcado-mulher-total-width: 263px;
$tamanho-calcado-mulher-total-height: 218px;
$tamanho-calcado-mulher-image: '../images/sprite-tamanhos.png';
$tamanho-calcado-mulher: (189px, 175px, -189px, -175px, 33px, 21px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-calcado-mulher', );
$tamanho-esporte-aquatico-over-name: 'tamanho-esporte-aquatico-over';
$tamanho-esporte-aquatico-over-x: 189px;
$tamanho-esporte-aquatico-over-y: 0px;
$tamanho-esporte-aquatico-over-offset-x: -189px;
$tamanho-esporte-aquatico-over-offset-y: 0px;
$tamanho-esporte-aquatico-over-width: 37px;
$tamanho-esporte-aquatico-over-height: 35px;
$tamanho-esporte-aquatico-over-total-width: 263px;
$tamanho-esporte-aquatico-over-total-height: 218px;
$tamanho-esporte-aquatico-over-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-aquatico-over: (189px, 0px, -189px, 0px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-aquatico-over', );
$tamanho-esporte-aquatico-name: 'tamanho-esporte-aquatico';
$tamanho-esporte-aquatico-x: 189px;
$tamanho-esporte-aquatico-y: 35px;
$tamanho-esporte-aquatico-offset-x: -189px;
$tamanho-esporte-aquatico-offset-y: -35px;
$tamanho-esporte-aquatico-width: 37px;
$tamanho-esporte-aquatico-height: 35px;
$tamanho-esporte-aquatico-total-width: 263px;
$tamanho-esporte-aquatico-total-height: 218px;
$tamanho-esporte-aquatico-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-aquatico: (189px, 35px, -189px, -35px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-aquatico', );
$tamanho-esporte-bicicleta-over-name: 'tamanho-esporte-bicicleta-over';
$tamanho-esporte-bicicleta-over-x: 189px;
$tamanho-esporte-bicicleta-over-y: 70px;
$tamanho-esporte-bicicleta-over-offset-x: -189px;
$tamanho-esporte-bicicleta-over-offset-y: -70px;
$tamanho-esporte-bicicleta-over-width: 37px;
$tamanho-esporte-bicicleta-over-height: 35px;
$tamanho-esporte-bicicleta-over-total-width: 263px;
$tamanho-esporte-bicicleta-over-total-height: 218px;
$tamanho-esporte-bicicleta-over-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-bicicleta-over: (189px, 70px, -189px, -70px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-bicicleta-over', );
$tamanho-esporte-bicicleta-name: 'tamanho-esporte-bicicleta';
$tamanho-esporte-bicicleta-x: 189px;
$tamanho-esporte-bicicleta-y: 105px;
$tamanho-esporte-bicicleta-offset-x: -189px;
$tamanho-esporte-bicicleta-offset-y: -105px;
$tamanho-esporte-bicicleta-width: 37px;
$tamanho-esporte-bicicleta-height: 35px;
$tamanho-esporte-bicicleta-total-width: 263px;
$tamanho-esporte-bicicleta-total-height: 218px;
$tamanho-esporte-bicicleta-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-bicicleta: (189px, 105px, -189px, -105px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-bicicleta', );
$tamanho-esporte-equipe-over-name: 'tamanho-esporte-equipe-over';
$tamanho-esporte-equipe-over-x: 189px;
$tamanho-esporte-equipe-over-y: 140px;
$tamanho-esporte-equipe-over-offset-x: -189px;
$tamanho-esporte-equipe-over-offset-y: -140px;
$tamanho-esporte-equipe-over-width: 37px;
$tamanho-esporte-equipe-over-height: 35px;
$tamanho-esporte-equipe-over-total-width: 263px;
$tamanho-esporte-equipe-over-total-height: 218px;
$tamanho-esporte-equipe-over-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-equipe-over: (189px, 140px, -189px, -140px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-equipe-over', );
$tamanho-esporte-equipe-name: 'tamanho-esporte-equipe';
$tamanho-esporte-equipe-x: 105px;
$tamanho-esporte-equipe-y: 143px;
$tamanho-esporte-equipe-offset-x: -105px;
$tamanho-esporte-equipe-offset-y: -143px;
$tamanho-esporte-equipe-width: 37px;
$tamanho-esporte-equipe-height: 35px;
$tamanho-esporte-equipe-total-width: 263px;
$tamanho-esporte-equipe-total-height: 218px;
$tamanho-esporte-equipe-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-equipe: (105px, 143px, -105px, -143px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-equipe', );
$tamanho-esporte-equitacao-over-name: 'tamanho-esporte-equitacao-over';
$tamanho-esporte-equitacao-over-x: 226px;
$tamanho-esporte-equitacao-over-y: 35px;
$tamanho-esporte-equitacao-over-offset-x: -226px;
$tamanho-esporte-equitacao-over-offset-y: -35px;
$tamanho-esporte-equitacao-over-width: 37px;
$tamanho-esporte-equitacao-over-height: 35px;
$tamanho-esporte-equitacao-over-total-width: 263px;
$tamanho-esporte-equitacao-over-total-height: 218px;
$tamanho-esporte-equitacao-over-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-equitacao-over: (226px, 35px, -226px, -35px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-equitacao-over', );
$tamanho-esporte-equitacao-name: 'tamanho-esporte-equitacao';
$tamanho-esporte-equitacao-x: 226px;
$tamanho-esporte-equitacao-y: 70px;
$tamanho-esporte-equitacao-offset-x: -226px;
$tamanho-esporte-equitacao-offset-y: -70px;
$tamanho-esporte-equitacao-width: 37px;
$tamanho-esporte-equitacao-height: 35px;
$tamanho-esporte-equitacao-total-width: 263px;
$tamanho-esporte-equitacao-total-height: 218px;
$tamanho-esporte-equitacao-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-equitacao: (226px, 70px, -226px, -70px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-equitacao', );
$tamanho-esporte-ginastica-over-name: 'tamanho-esporte-ginastica-over';
$tamanho-esporte-ginastica-over-x: 226px;
$tamanho-esporte-ginastica-over-y: 105px;
$tamanho-esporte-ginastica-over-offset-x: -226px;
$tamanho-esporte-ginastica-over-offset-y: -105px;
$tamanho-esporte-ginastica-over-width: 37px;
$tamanho-esporte-ginastica-over-height: 35px;
$tamanho-esporte-ginastica-over-total-width: 263px;
$tamanho-esporte-ginastica-over-total-height: 218px;
$tamanho-esporte-ginastica-over-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-ginastica-over: (226px, 105px, -226px, -105px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-ginastica-over', );
$tamanho-esporte-ginastica-name: 'tamanho-esporte-ginastica';
$tamanho-esporte-ginastica-x: 226px;
$tamanho-esporte-ginastica-y: 140px;
$tamanho-esporte-ginastica-offset-x: -226px;
$tamanho-esporte-ginastica-offset-y: -140px;
$tamanho-esporte-ginastica-width: 37px;
$tamanho-esporte-ginastica-height: 35px;
$tamanho-esporte-ginastica-total-width: 263px;
$tamanho-esporte-ginastica-total-height: 218px;
$tamanho-esporte-ginastica-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-ginastica: (226px, 140px, -226px, -140px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-ginastica', );
$tamanho-esporte-mergulho-over-name: 'tamanho-esporte-mergulho-over';
$tamanho-esporte-mergulho-over-x: 226px;
$tamanho-esporte-mergulho-over-y: 0px;
$tamanho-esporte-mergulho-over-offset-x: -226px;
$tamanho-esporte-mergulho-over-offset-y: 0px;
$tamanho-esporte-mergulho-over-width: 37px;
$tamanho-esporte-mergulho-over-height: 35px;
$tamanho-esporte-mergulho-over-total-width: 263px;
$tamanho-esporte-mergulho-over-total-height: 218px;
$tamanho-esporte-mergulho-over-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-mergulho-over: (226px, 0px, -226px, 0px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-mergulho-over', );
$tamanho-esporte-mergulho-name: 'tamanho-esporte-mergulho';
$tamanho-esporte-mergulho-x: 152px;
$tamanho-esporte-mergulho-y: 140px;
$tamanho-esporte-mergulho-offset-x: -152px;
$tamanho-esporte-mergulho-offset-y: -140px;
$tamanho-esporte-mergulho-width: 37px;
$tamanho-esporte-mergulho-height: 35px;
$tamanho-esporte-mergulho-total-width: 263px;
$tamanho-esporte-mergulho-total-height: 218px;
$tamanho-esporte-mergulho-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-mergulho: (152px, 140px, -152px, -140px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-mergulho', );
$tamanho-esporte-patins-over-name: 'tamanho-esporte-patins-over';
$tamanho-esporte-patins-over-x: 152px;
$tamanho-esporte-patins-over-y: 105px;
$tamanho-esporte-patins-over-offset-x: -152px;
$tamanho-esporte-patins-over-offset-y: -105px;
$tamanho-esporte-patins-over-width: 37px;
$tamanho-esporte-patins-over-height: 35px;
$tamanho-esporte-patins-over-total-width: 263px;
$tamanho-esporte-patins-over-total-height: 218px;
$tamanho-esporte-patins-over-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-patins-over: (152px, 105px, -152px, -105px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-patins-over', );
$tamanho-esporte-patins-name: 'tamanho-esporte-patins';
$tamanho-esporte-patins-x: 152px;
$tamanho-esporte-patins-y: 70px;
$tamanho-esporte-patins-offset-x: -152px;
$tamanho-esporte-patins-offset-y: -70px;
$tamanho-esporte-patins-width: 37px;
$tamanho-esporte-patins-height: 35px;
$tamanho-esporte-patins-total-width: 263px;
$tamanho-esporte-patins-total-height: 218px;
$tamanho-esporte-patins-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-patins: (152px, 70px, -152px, -70px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-patins', );
$tamanho-esporte-precisao-over-name: 'tamanho-esporte-precisao-over';
$tamanho-esporte-precisao-over-x: 152px;
$tamanho-esporte-precisao-over-y: 35px;
$tamanho-esporte-precisao-over-offset-x: -152px;
$tamanho-esporte-precisao-over-offset-y: -35px;
$tamanho-esporte-precisao-over-width: 37px;
$tamanho-esporte-precisao-over-height: 35px;
$tamanho-esporte-precisao-over-total-width: 263px;
$tamanho-esporte-precisao-over-total-height: 218px;
$tamanho-esporte-precisao-over-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-precisao-over: (152px, 35px, -152px, -35px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-precisao-over', );
$tamanho-esporte-precisao-name: 'tamanho-esporte-precisao';
$tamanho-esporte-precisao-x: 152px;
$tamanho-esporte-precisao-y: 0px;
$tamanho-esporte-precisao-offset-x: -152px;
$tamanho-esporte-precisao-offset-y: 0px;
$tamanho-esporte-precisao-width: 37px;
$tamanho-esporte-precisao-height: 35px;
$tamanho-esporte-precisao-total-width: 263px;
$tamanho-esporte-precisao-total-height: 218px;
$tamanho-esporte-precisao-image: '../images/sprite-tamanhos.png';
$tamanho-esporte-precisao: (152px, 0px, -152px, 0px, 37px, 35px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-esporte-precisao', );
$tamanho-vestuario-crianca-name: 'tamanho-vestuario-crianca';
$tamanho-vestuario-crianca-x: 105px;
$tamanho-vestuario-crianca-y: 0px;
$tamanho-vestuario-crianca-offset-x: -105px;
$tamanho-vestuario-crianca-offset-y: 0px;
$tamanho-vestuario-crianca-width: 47px;
$tamanho-vestuario-crianca-height: 143px;
$tamanho-vestuario-crianca-total-width: 263px;
$tamanho-vestuario-crianca-total-height: 218px;
$tamanho-vestuario-crianca-image: '../images/sprite-tamanhos.png';
$tamanho-vestuario-crianca: (105px, 0px, -105px, 0px, 47px, 143px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-vestuario-crianca', );
$tamanho-vestuario-homem-name: 'tamanho-vestuario-homem';
$tamanho-vestuario-homem-x: 0px;
$tamanho-vestuario-homem-y: 0px;
$tamanho-vestuario-homem-offset-x: 0px;
$tamanho-vestuario-homem-offset-y: 0px;
$tamanho-vestuario-homem-width: 58px;
$tamanho-vestuario-homem-height: 197px;
$tamanho-vestuario-homem-total-width: 263px;
$tamanho-vestuario-homem-total-height: 218px;
$tamanho-vestuario-homem-image: '../images/sprite-tamanhos.png';
$tamanho-vestuario-homem: (0px, 0px, 0px, 0px, 58px, 197px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-vestuario-homem', );
$tamanho-vestuario-mulher-name: 'tamanho-vestuario-mulher';
$tamanho-vestuario-mulher-x: 58px;
$tamanho-vestuario-mulher-y: 0px;
$tamanho-vestuario-mulher-offset-x: -58px;
$tamanho-vestuario-mulher-offset-y: 0px;
$tamanho-vestuario-mulher-width: 47px;
$tamanho-vestuario-mulher-height: 188px;
$tamanho-vestuario-mulher-total-width: 263px;
$tamanho-vestuario-mulher-total-height: 218px;
$tamanho-vestuario-mulher-image: '../images/sprite-tamanhos.png';
$tamanho-vestuario-mulher: (58px, 0px, -58px, 0px, 47px, 188px, 263px, 218px, '../images/sprite-tamanhos.png', 'tamanho-vestuario-mulher', );
$spritesheet-width: 263px;
$spritesheet-height: 218px;
$spritesheet-image: '../images/sprite-tamanhos.png';
$spritesheet-sprites: ($base, $tamanho-calcado-bebe-over, $tamanho-calcado-bebe, $tamanho-calcado-crianca-over, $tamanho-calcado-crianca, $tamanho-calcado-homem-over, $tamanho-calcado-homem, $tamanho-calcado-mulher-over, $tamanho-calcado-mulher, $tamanho-esporte-aquatico-over, $tamanho-esporte-aquatico, $tamanho-esporte-bicicleta-over, $tamanho-esporte-bicicleta, $tamanho-esporte-equipe-over, $tamanho-esporte-equipe, $tamanho-esporte-equitacao-over, $tamanho-esporte-equitacao, $tamanho-esporte-ginastica-over, $tamanho-esporte-ginastica, $tamanho-esporte-mergulho-over, $tamanho-esporte-mergulho, $tamanho-esporte-patins-over, $tamanho-esporte-patins, $tamanho-esporte-precisao-over, $tamanho-esporte-precisao, $tamanho-vestuario-crianca, $tamanho-vestuario-homem, $tamanho-vestuario-mulher, );
$spritesheet: (263px, 218px, '../images/sprite-tamanhos.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
